include ../mixins
include ../../mixins/main/cards
main
    #first.main
        .main__swiper
            .swiper.main__swiper_1(data-autoplay="12000" data-speed="1500")
                .swiper-wrapper
                    .swiper-slide
                        .main__block
                            .main__block-bg
                                +picture('img/main/bg1.jpg', 'img/main/bg1', false, '', 1380, 636, '', '', '')
                            .container.relative
                                .main__item.main__item_1
                                    h1.main__title Полный цикл услуг по работе с&nbsp;недвижимостью в Дубае
                                    h2.main__subtitle Увеличение дохода за счет грамотного управления и сдачи вашего объекта
                                    ul.main__list
                                        li.main__list-item
                                            .main__list-svg
                                                <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.45164 0.012495C6.69303 0.308384 4.19342 1.62755 2.43383 3.72342C1.19636 5.19465 0.427565 6.86313 0.0863352 8.81927C0.00822239 9.26722 0 9.48502 0 10.5042C0 11.5234 0.00822239 11.7412 0.0863352 12.1891C0.472788 14.4083 1.40192 16.2452 2.9354 17.8356C4.50998 19.4712 6.49569 20.5069 8.81441 20.9137C9.26253 20.9918 9.48042 21 10.5 21C11.7868 21 12.1733 20.9589 13.1846 20.7C16.8107 19.763 19.7625 16.8124 20.6999 13.1877C20.9589 12.1768 21 11.7905 21 10.5042C21 9.2179 20.9589 8.8316 20.6999 7.82065C19.7625 4.20013 16.8107 1.24536 13.1846 0.308384C12.2514 0.0700302 11.8115 0.0166054 10.6644 0.00427628C10.0889 -0.00394249 9.54209 0.000165939 9.45164 0.012495ZM9.09397 5.3467C9.2872 5.42889 13.7026 9.82201 13.863 10.0932C14.0151 10.348 14.0151 10.6604 13.863 10.9151C13.7026 11.1864 9.2872 15.5795 9.09397 15.6617C8.79385 15.785 8.39096 15.7151 8.16073 15.5055C7.9305 15.2918 7.84417 14.8521 7.97572 14.5398C8.01684 14.437 8.65407 13.7713 9.97788 12.4439L11.9184 10.5042L9.97788 8.56037C8.65407 7.2371 8.01684 6.57135 7.97572 6.46861C7.84828 6.16861 7.91817 5.76587 8.12784 5.53574C8.34162 5.3056 8.78152 5.2193 9.09397 5.3467Z" fill="white"/>
                                                </svg>
                                            .main__list-title Глубокая многолетняя экспертиза рынка
                                        li.main__list-item
                                            .main__list-svg
                                                <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.45164 0.012495C6.69303 0.308384 4.19342 1.62755 2.43383 3.72342C1.19636 5.19465 0.427565 6.86313 0.0863352 8.81927C0.00822239 9.26722 0 9.48502 0 10.5042C0 11.5234 0.00822239 11.7412 0.0863352 12.1891C0.472788 14.4083 1.40192 16.2452 2.9354 17.8356C4.50998 19.4712 6.49569 20.5069 8.81441 20.9137C9.26253 20.9918 9.48042 21 10.5 21C11.7868 21 12.1733 20.9589 13.1846 20.7C16.8107 19.763 19.7625 16.8124 20.6999 13.1877C20.9589 12.1768 21 11.7905 21 10.5042C21 9.2179 20.9589 8.8316 20.6999 7.82065C19.7625 4.20013 16.8107 1.24536 13.1846 0.308384C12.2514 0.0700302 11.8115 0.0166054 10.6644 0.00427628C10.0889 -0.00394249 9.54209 0.000165939 9.45164 0.012495ZM9.09397 5.3467C9.2872 5.42889 13.7026 9.82201 13.863 10.0932C14.0151 10.348 14.0151 10.6604 13.863 10.9151C13.7026 11.1864 9.2872 15.5795 9.09397 15.6617C8.79385 15.785 8.39096 15.7151 8.16073 15.5055C7.9305 15.2918 7.84417 14.8521 7.97572 14.5398C8.01684 14.437 8.65407 13.7713 9.97788 12.4439L11.9184 10.5042L9.97788 8.56037C8.65407 7.2371 8.01684 6.57135 7.97572 6.46861C7.84828 6.16861 7.91817 5.76587 8.12784 5.53574C8.34162 5.3056 8.78152 5.2193 9.09397 5.3467Z" fill="white"/>
                                                </svg>
                                            .main__list-title Индивидуальный подход к каждому клиенту
                                        li.main__list-item
                                            .main__list-svg
                                                <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.45164 0.012495C6.69303 0.308384 4.19342 1.62755 2.43383 3.72342C1.19636 5.19465 0.427565 6.86313 0.0863352 8.81927C0.00822239 9.26722 0 9.48502 0 10.5042C0 11.5234 0.00822239 11.7412 0.0863352 12.1891C0.472788 14.4083 1.40192 16.2452 2.9354 17.8356C4.50998 19.4712 6.49569 20.5069 8.81441 20.9137C9.26253 20.9918 9.48042 21 10.5 21C11.7868 21 12.1733 20.9589 13.1846 20.7C16.8107 19.763 19.7625 16.8124 20.6999 13.1877C20.9589 12.1768 21 11.7905 21 10.5042C21 9.2179 20.9589 8.8316 20.6999 7.82065C19.7625 4.20013 16.8107 1.24536 13.1846 0.308384C12.2514 0.0700302 11.8115 0.0166054 10.6644 0.00427628C10.0889 -0.00394249 9.54209 0.000165939 9.45164 0.012495ZM9.09397 5.3467C9.2872 5.42889 13.7026 9.82201 13.863 10.0932C14.0151 10.348 14.0151 10.6604 13.863 10.9151C13.7026 11.1864 9.2872 15.5795 9.09397 15.6617C8.79385 15.785 8.39096 15.7151 8.16073 15.5055C7.9305 15.2918 7.84417 14.8521 7.97572 14.5398C8.01684 14.437 8.65407 13.7713 9.97788 12.4439L11.9184 10.5042L9.97788 8.56037C8.65407 7.2371 8.01684 6.57135 7.97572 6.46861C7.84828 6.16861 7.91817 5.76587 8.12784 5.53574C8.34162 5.3056 8.78152 5.2193 9.09397 5.3467Z" fill="white"/>
                                                </svg>
                                            .main__list-title Четкая и прозрачная отчетность на каждом этапе работы
                                        li.main__list-item
                                            .main__list-svg
                                                <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.45164 0.012495C6.69303 0.308384 4.19342 1.62755 2.43383 3.72342C1.19636 5.19465 0.427565 6.86313 0.0863352 8.81927C0.00822239 9.26722 0 9.48502 0 10.5042C0 11.5234 0.00822239 11.7412 0.0863352 12.1891C0.472788 14.4083 1.40192 16.2452 2.9354 17.8356C4.50998 19.4712 6.49569 20.5069 8.81441 20.9137C9.26253 20.9918 9.48042 21 10.5 21C11.7868 21 12.1733 20.9589 13.1846 20.7C16.8107 19.763 19.7625 16.8124 20.6999 13.1877C20.9589 12.1768 21 11.7905 21 10.5042C21 9.2179 20.9589 8.8316 20.6999 7.82065C19.7625 4.20013 16.8107 1.24536 13.1846 0.308384C12.2514 0.0700302 11.8115 0.0166054 10.6644 0.00427628C10.0889 -0.00394249 9.54209 0.000165939 9.45164 0.012495ZM9.09397 5.3467C9.2872 5.42889 13.7026 9.82201 13.863 10.0932C14.0151 10.348 14.0151 10.6604 13.863 10.9151C13.7026 11.1864 9.2872 15.5795 9.09397 15.6617C8.79385 15.785 8.39096 15.7151 8.16073 15.5055C7.9305 15.2918 7.84417 14.8521 7.97572 14.5398C8.01684 14.437 8.65407 13.7713 9.97788 12.4439L11.9184 10.5042L9.97788 8.56037C8.65407 7.2371 8.01684 6.57135 7.97572 6.46861C7.84828 6.16861 7.91817 5.76587 8.12784 5.53574C8.34162 5.3056 8.78152 5.2193 9.09397 5.3467Z" fill="white"/>
                                                </svg>
                                            .main__list-title Ориентация на долгосрочное сотрудничество
                    .swiper-slide
                        .main__block
                            .main__block-bg
                                +picture('img/main/bg2.jpg', 'img/main/bg2', true, '', 1380, 636, '', '', '')
                            .container
                                .main__item.main__item_2
                                    h2.main__title Удобное приложение для собственников недвижимости
                                    h3.main__subtitle Контроль всех операций по вашим объектам в одно касание
                                    ul.main__list
                                        li.main__list-item
                                            .main__list-svg
                                                <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.45164 0.012495C6.69303 0.308384 4.19342 1.62755 2.43383 3.72342C1.19636 5.19465 0.427565 6.86313 0.0863352 8.81927C0.00822239 9.26722 0 9.48502 0 10.5042C0 11.5234 0.00822239 11.7412 0.0863352 12.1891C0.472788 14.4083 1.40192 16.2452 2.9354 17.8356C4.50998 19.4712 6.49569 20.5069 8.81441 20.9137C9.26253 20.9918 9.48042 21 10.5 21C11.7868 21 12.1733 20.9589 13.1846 20.7C16.8107 19.763 19.7625 16.8124 20.6999 13.1877C20.9589 12.1768 21 11.7905 21 10.5042C21 9.2179 20.9589 8.8316 20.6999 7.82065C19.7625 4.20013 16.8107 1.24536 13.1846 0.308384C12.2514 0.0700302 11.8115 0.0166054 10.6644 0.00427628C10.0889 -0.00394249 9.54209 0.000165939 9.45164 0.012495ZM9.09397 5.3467C9.2872 5.42889 13.7026 9.82201 13.863 10.0932C14.0151 10.348 14.0151 10.6604 13.863 10.9151C13.7026 11.1864 9.2872 15.5795 9.09397 15.6617C8.79385 15.785 8.39096 15.7151 8.16073 15.5055C7.9305 15.2918 7.84417 14.8521 7.97572 14.5398C8.01684 14.437 8.65407 13.7713 9.97788 12.4439L11.9184 10.5042L9.97788 8.56037C8.65407 7.2371 8.01684 6.57135 7.97572 6.46861C7.84828 6.16861 7.91817 5.76587 8.12784 5.53574C8.34162 5.3056 8.78152 5.2193 9.09397 5.3467Z" fill="white"/>
                                                </svg>
                                            .main__list-title Доступ к календарю бронирований
                                        li.main__list-item
                                            .main__list-svg
                                                <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.45164 0.012495C6.69303 0.308384 4.19342 1.62755 2.43383 3.72342C1.19636 5.19465 0.427565 6.86313 0.0863352 8.81927C0.00822239 9.26722 0 9.48502 0 10.5042C0 11.5234 0.00822239 11.7412 0.0863352 12.1891C0.472788 14.4083 1.40192 16.2452 2.9354 17.8356C4.50998 19.4712 6.49569 20.5069 8.81441 20.9137C9.26253 20.9918 9.48042 21 10.5 21C11.7868 21 12.1733 20.9589 13.1846 20.7C16.8107 19.763 19.7625 16.8124 20.6999 13.1877C20.9589 12.1768 21 11.7905 21 10.5042C21 9.2179 20.9589 8.8316 20.6999 7.82065C19.7625 4.20013 16.8107 1.24536 13.1846 0.308384C12.2514 0.0700302 11.8115 0.0166054 10.6644 0.00427628C10.0889 -0.00394249 9.54209 0.000165939 9.45164 0.012495ZM9.09397 5.3467C9.2872 5.42889 13.7026 9.82201 13.863 10.0932C14.0151 10.348 14.0151 10.6604 13.863 10.9151C13.7026 11.1864 9.2872 15.5795 9.09397 15.6617C8.79385 15.785 8.39096 15.7151 8.16073 15.5055C7.9305 15.2918 7.84417 14.8521 7.97572 14.5398C8.01684 14.437 8.65407 13.7713 9.97788 12.4439L11.9184 10.5042L9.97788 8.56037C8.65407 7.2371 8.01684 6.57135 7.97572 6.46861C7.84828 6.16861 7.91817 5.76587 8.12784 5.53574C8.34162 5.3056 8.78152 5.2193 9.09397 5.3467Z" fill="white"/>
                                                </svg>
                                            .main__list-title Полный отчет финансовых транзакций по объектам
                                        li.main__list-item
                                            .main__list-svg
                                                <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.45164 0.012495C6.69303 0.308384 4.19342 1.62755 2.43383 3.72342C1.19636 5.19465 0.427565 6.86313 0.0863352 8.81927C0.00822239 9.26722 0 9.48502 0 10.5042C0 11.5234 0.00822239 11.7412 0.0863352 12.1891C0.472788 14.4083 1.40192 16.2452 2.9354 17.8356C4.50998 19.4712 6.49569 20.5069 8.81441 20.9137C9.26253 20.9918 9.48042 21 10.5 21C11.7868 21 12.1733 20.9589 13.1846 20.7C16.8107 19.763 19.7625 16.8124 20.6999 13.1877C20.9589 12.1768 21 11.7905 21 10.5042C21 9.2179 20.9589 8.8316 20.6999 7.82065C19.7625 4.20013 16.8107 1.24536 13.1846 0.308384C12.2514 0.0700302 11.8115 0.0166054 10.6644 0.00427628C10.0889 -0.00394249 9.54209 0.000165939 9.45164 0.012495ZM9.09397 5.3467C9.2872 5.42889 13.7026 9.82201 13.863 10.0932C14.0151 10.348 14.0151 10.6604 13.863 10.9151C13.7026 11.1864 9.2872 15.5795 9.09397 15.6617C8.79385 15.785 8.39096 15.7151 8.16073 15.5055C7.9305 15.2918 7.84417 14.8521 7.97572 14.5398C8.01684 14.437 8.65407 13.7713 9.97788 12.4439L11.9184 10.5042L9.97788 8.56037C8.65407 7.2371 8.01684 6.57135 7.97572 6.46861C7.84828 6.16861 7.91817 5.76587 8.12784 5.53574C8.34162 5.3056 8.78152 5.2193 9.09397 5.3467Z" fill="white"/>
                                                </svg>
                                            .main__list-title Операционная информация по&nbsp;каждому объекту
                                        li.main__list-item
                                            .main__list-svg
                                                <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.45164 0.012495C6.69303 0.308384 4.19342 1.62755 2.43383 3.72342C1.19636 5.19465 0.427565 6.86313 0.0863352 8.81927C0.00822239 9.26722 0 9.48502 0 10.5042C0 11.5234 0.00822239 11.7412 0.0863352 12.1891C0.472788 14.4083 1.40192 16.2452 2.9354 17.8356C4.50998 19.4712 6.49569 20.5069 8.81441 20.9137C9.26253 20.9918 9.48042 21 10.5 21C11.7868 21 12.1733 20.9589 13.1846 20.7C16.8107 19.763 19.7625 16.8124 20.6999 13.1877C20.9589 12.1768 21 11.7905 21 10.5042C21 9.2179 20.9589 8.8316 20.6999 7.82065C19.7625 4.20013 16.8107 1.24536 13.1846 0.308384C12.2514 0.0700302 11.8115 0.0166054 10.6644 0.00427628C10.0889 -0.00394249 9.54209 0.000165939 9.45164 0.012495ZM9.09397 5.3467C9.2872 5.42889 13.7026 9.82201 13.863 10.0932C14.0151 10.348 14.0151 10.6604 13.863 10.9151C13.7026 11.1864 9.2872 15.5795 9.09397 15.6617C8.79385 15.785 8.39096 15.7151 8.16073 15.5055C7.9305 15.2918 7.84417 14.8521 7.97572 14.5398C8.01684 14.437 8.65407 13.7713 9.97788 12.4439L11.9184 10.5042L9.97788 8.56037C8.65407 7.2371 8.01684 6.57135 7.97572 6.46861C7.84828 6.16861 7.91817 5.76587 8.12784 5.53574C8.34162 5.3056 8.78152 5.2193 9.09397 5.3467Z" fill="white"/>
                                                </svg>
                                            .main__list-title Чат поддержки для собственников
                    .swiper-slide
                        .main__block
                            .main__block-bg
                                +picture('img/main/bg3.jpg', 'img/main/bg3', true, '', 1380, 636, '', '', '')
                            .container
                                .main__item.main__item_3
                                    h2.main__title Широкий спектр дополнительных услуг
                                    h3.main__subtitle Обеспечение комфортной жизни арендаторов за&nbsp;счет вспомогательных сервисов
                                    ul.main__list
                                        li.main__list-item
                                            .main__list-svg
                                                <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.45164 0.012495C6.69303 0.308384 4.19342 1.62755 2.43383 3.72342C1.19636 5.19465 0.427565 6.86313 0.0863352 8.81927C0.00822239 9.26722 0 9.48502 0 10.5042C0 11.5234 0.00822239 11.7412 0.0863352 12.1891C0.472788 14.4083 1.40192 16.2452 2.9354 17.8356C4.50998 19.4712 6.49569 20.5069 8.81441 20.9137C9.26253 20.9918 9.48042 21 10.5 21C11.7868 21 12.1733 20.9589 13.1846 20.7C16.8107 19.763 19.7625 16.8124 20.6999 13.1877C20.9589 12.1768 21 11.7905 21 10.5042C21 9.2179 20.9589 8.8316 20.6999 7.82065C19.7625 4.20013 16.8107 1.24536 13.1846 0.308384C12.2514 0.0700302 11.8115 0.0166054 10.6644 0.00427628C10.0889 -0.00394249 9.54209 0.000165939 9.45164 0.012495ZM9.09397 5.3467C9.2872 5.42889 13.7026 9.82201 13.863 10.0932C14.0151 10.348 14.0151 10.6604 13.863 10.9151C13.7026 11.1864 9.2872 15.5795 9.09397 15.6617C8.79385 15.785 8.39096 15.7151 8.16073 15.5055C7.9305 15.2918 7.84417 14.8521 7.97572 14.5398C8.01684 14.437 8.65407 13.7713 9.97788 12.4439L11.9184 10.5042L9.97788 8.56037C8.65407 7.2371 8.01684 6.57135 7.97572 6.46861C7.84828 6.16861 7.91817 5.76587 8.12784 5.53574C8.34162 5.3056 8.78152 5.2193 9.09397 5.3467Z" fill="white"/>
                                                </svg>
                                            .main__list-title Разовая уборка в апартаментах и&nbsp;помесячные пакетные предложения
                                        li.main__list-item
                                            .main__list-svg
                                                <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.45164 0.012495C6.69303 0.308384 4.19342 1.62755 2.43383 3.72342C1.19636 5.19465 0.427565 6.86313 0.0863352 8.81927C0.00822239 9.26722 0 9.48502 0 10.5042C0 11.5234 0.00822239 11.7412 0.0863352 12.1891C0.472788 14.4083 1.40192 16.2452 2.9354 17.8356C4.50998 19.4712 6.49569 20.5069 8.81441 20.9137C9.26253 20.9918 9.48042 21 10.5 21C11.7868 21 12.1733 20.9589 13.1846 20.7C16.8107 19.763 19.7625 16.8124 20.6999 13.1877C20.9589 12.1768 21 11.7905 21 10.5042C21 9.2179 20.9589 8.8316 20.6999 7.82065C19.7625 4.20013 16.8107 1.24536 13.1846 0.308384C12.2514 0.0700302 11.8115 0.0166054 10.6644 0.00427628C10.0889 -0.00394249 9.54209 0.000165939 9.45164 0.012495ZM9.09397 5.3467C9.2872 5.42889 13.7026 9.82201 13.863 10.0932C14.0151 10.348 14.0151 10.6604 13.863 10.9151C13.7026 11.1864 9.2872 15.5795 9.09397 15.6617C8.79385 15.785 8.39096 15.7151 8.16073 15.5055C7.9305 15.2918 7.84417 14.8521 7.97572 14.5398C8.01684 14.437 8.65407 13.7713 9.97788 12.4439L11.9184 10.5042L9.97788 8.56037C8.65407 7.2371 8.01684 6.57135 7.97572 6.46861C7.84828 6.16861 7.91817 5.76587 8.12784 5.53574C8.34162 5.3056 8.78152 5.2193 9.09397 5.3467Z" fill="white"/>
                                                </svg>
                                            .main__list-title Доступный трансфер, а также ранний и поздний заезд/выезд
                                        li.main__list-item
                                            .main__list-svg
                                                <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.45164 0.012495C6.69303 0.308384 4.19342 1.62755 2.43383 3.72342C1.19636 5.19465 0.427565 6.86313 0.0863352 8.81927C0.00822239 9.26722 0 9.48502 0 10.5042C0 11.5234 0.00822239 11.7412 0.0863352 12.1891C0.472788 14.4083 1.40192 16.2452 2.9354 17.8356C4.50998 19.4712 6.49569 20.5069 8.81441 20.9137C9.26253 20.9918 9.48042 21 10.5 21C11.7868 21 12.1733 20.9589 13.1846 20.7C16.8107 19.763 19.7625 16.8124 20.6999 13.1877C20.9589 12.1768 21 11.7905 21 10.5042C21 9.2179 20.9589 8.8316 20.6999 7.82065C19.7625 4.20013 16.8107 1.24536 13.1846 0.308384C12.2514 0.0700302 11.8115 0.0166054 10.6644 0.00427628C10.0889 -0.00394249 9.54209 0.000165939 9.45164 0.012495ZM9.09397 5.3467C9.2872 5.42889 13.7026 9.82201 13.863 10.0932C14.0151 10.348 14.0151 10.6604 13.863 10.9151C13.7026 11.1864 9.2872 15.5795 9.09397 15.6617C8.79385 15.785 8.39096 15.7151 8.16073 15.5055C7.9305 15.2918 7.84417 14.8521 7.97572 14.5398C8.01684 14.437 8.65407 13.7713 9.97788 12.4439L11.9184 10.5042L9.97788 8.56037C8.65407 7.2371 8.01684 6.57135 7.97572 6.46861C7.84828 6.16861 7.91817 5.76587 8.12784 5.53574C8.34162 5.3056 8.78152 5.2193 9.09397 5.3467Z" fill="white"/>
                                                </svg>
                                            .main__list-title Вызов врача и услуги няни
                                        li.main__list-item
                                            .main__list-svg
                                                <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.45164 0.012495C6.69303 0.308384 4.19342 1.62755 2.43383 3.72342C1.19636 5.19465 0.427565 6.86313 0.0863352 8.81927C0.00822239 9.26722 0 9.48502 0 10.5042C0 11.5234 0.00822239 11.7412 0.0863352 12.1891C0.472788 14.4083 1.40192 16.2452 2.9354 17.8356C4.50998 19.4712 6.49569 20.5069 8.81441 20.9137C9.26253 20.9918 9.48042 21 10.5 21C11.7868 21 12.1733 20.9589 13.1846 20.7C16.8107 19.763 19.7625 16.8124 20.6999 13.1877C20.9589 12.1768 21 11.7905 21 10.5042C21 9.2179 20.9589 8.8316 20.6999 7.82065C19.7625 4.20013 16.8107 1.24536 13.1846 0.308384C12.2514 0.0700302 11.8115 0.0166054 10.6644 0.00427628C10.0889 -0.00394249 9.54209 0.000165939 9.45164 0.012495ZM9.09397 5.3467C9.2872 5.42889 13.7026 9.82201 13.863 10.0932C14.0151 10.348 14.0151 10.6604 13.863 10.9151C13.7026 11.1864 9.2872 15.5795 9.09397 15.6617C8.79385 15.785 8.39096 15.7151 8.16073 15.5055C7.9305 15.2918 7.84417 14.8521 7.97572 14.5398C8.01684 14.437 8.65407 13.7713 9.97788 12.4439L11.9184 10.5042L9.97788 8.56037C8.65407 7.2371 8.01684 6.57135 7.97572 6.46861C7.84828 6.16861 7.91817 5.76587 8.12784 5.53574C8.34162 5.3056 8.78152 5.2193 9.09397 5.3467Z" fill="white"/>
                                                </svg>
                                            .main__list-title Доставка цветов, фруктов и подарков
            .swiper.main__swiper_2(data-autoplay="12000" data-speed="1500")
                .swiper-wrapper
                    .swiper-slide
                        .main__block
                            .main__block-bg
                                +picture('img/main/bg1_mb.jpg', 'img/main/bg1_mb', false, '', 439, 896, '', '', '')
                            .main__item.main__item_1
                                h1.main__title Полный цикл услуг по работе с&nbsp;недвижимостью в Дубае
                                h2.main__subtitle Увеличение дохода за счет грамотного управления и сдачи вашего объекта
                                ul.main__list
                                    li.main__list-item
                                        .main__list-svg
                                            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.45164 0.012495C6.69303 0.308384 4.19342 1.62755 2.43383 3.72342C1.19636 5.19465 0.427565 6.86313 0.0863352 8.81927C0.00822239 9.26722 0 9.48502 0 10.5042C0 11.5234 0.00822239 11.7412 0.0863352 12.1891C0.472788 14.4083 1.40192 16.2452 2.9354 17.8356C4.50998 19.4712 6.49569 20.5069 8.81441 20.9137C9.26253 20.9918 9.48042 21 10.5 21C11.7868 21 12.1733 20.9589 13.1846 20.7C16.8107 19.763 19.7625 16.8124 20.6999 13.1877C20.9589 12.1768 21 11.7905 21 10.5042C21 9.2179 20.9589 8.8316 20.6999 7.82065C19.7625 4.20013 16.8107 1.24536 13.1846 0.308384C12.2514 0.0700302 11.8115 0.0166054 10.6644 0.00427628C10.0889 -0.00394249 9.54209 0.000165939 9.45164 0.012495ZM9.09397 5.3467C9.2872 5.42889 13.7026 9.82201 13.863 10.0932C14.0151 10.348 14.0151 10.6604 13.863 10.9151C13.7026 11.1864 9.2872 15.5795 9.09397 15.6617C8.79385 15.785 8.39096 15.7151 8.16073 15.5055C7.9305 15.2918 7.84417 14.8521 7.97572 14.5398C8.01684 14.437 8.65407 13.7713 9.97788 12.4439L11.9184 10.5042L9.97788 8.56037C8.65407 7.2371 8.01684 6.57135 7.97572 6.46861C7.84828 6.16861 7.91817 5.76587 8.12784 5.53574C8.34162 5.3056 8.78152 5.2193 9.09397 5.3467Z" fill="white"/>
                                            </svg>
                                        .main__list-title Глубокая многолетняя экспертиза рынка
                                    li.main__list-item
                                        .main__list-svg
                                            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.45164 0.012495C6.69303 0.308384 4.19342 1.62755 2.43383 3.72342C1.19636 5.19465 0.427565 6.86313 0.0863352 8.81927C0.00822239 9.26722 0 9.48502 0 10.5042C0 11.5234 0.00822239 11.7412 0.0863352 12.1891C0.472788 14.4083 1.40192 16.2452 2.9354 17.8356C4.50998 19.4712 6.49569 20.5069 8.81441 20.9137C9.26253 20.9918 9.48042 21 10.5 21C11.7868 21 12.1733 20.9589 13.1846 20.7C16.8107 19.763 19.7625 16.8124 20.6999 13.1877C20.9589 12.1768 21 11.7905 21 10.5042C21 9.2179 20.9589 8.8316 20.6999 7.82065C19.7625 4.20013 16.8107 1.24536 13.1846 0.308384C12.2514 0.0700302 11.8115 0.0166054 10.6644 0.00427628C10.0889 -0.00394249 9.54209 0.000165939 9.45164 0.012495ZM9.09397 5.3467C9.2872 5.42889 13.7026 9.82201 13.863 10.0932C14.0151 10.348 14.0151 10.6604 13.863 10.9151C13.7026 11.1864 9.2872 15.5795 9.09397 15.6617C8.79385 15.785 8.39096 15.7151 8.16073 15.5055C7.9305 15.2918 7.84417 14.8521 7.97572 14.5398C8.01684 14.437 8.65407 13.7713 9.97788 12.4439L11.9184 10.5042L9.97788 8.56037C8.65407 7.2371 8.01684 6.57135 7.97572 6.46861C7.84828 6.16861 7.91817 5.76587 8.12784 5.53574C8.34162 5.3056 8.78152 5.2193 9.09397 5.3467Z" fill="white"/>
                                            </svg>
                                        .main__list-title Индивидуальный подход к каждому клиенту
                                    li.main__list-item
                                        .main__list-svg
                                            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.45164 0.012495C6.69303 0.308384 4.19342 1.62755 2.43383 3.72342C1.19636 5.19465 0.427565 6.86313 0.0863352 8.81927C0.00822239 9.26722 0 9.48502 0 10.5042C0 11.5234 0.00822239 11.7412 0.0863352 12.1891C0.472788 14.4083 1.40192 16.2452 2.9354 17.8356C4.50998 19.4712 6.49569 20.5069 8.81441 20.9137C9.26253 20.9918 9.48042 21 10.5 21C11.7868 21 12.1733 20.9589 13.1846 20.7C16.8107 19.763 19.7625 16.8124 20.6999 13.1877C20.9589 12.1768 21 11.7905 21 10.5042C21 9.2179 20.9589 8.8316 20.6999 7.82065C19.7625 4.20013 16.8107 1.24536 13.1846 0.308384C12.2514 0.0700302 11.8115 0.0166054 10.6644 0.00427628C10.0889 -0.00394249 9.54209 0.000165939 9.45164 0.012495ZM9.09397 5.3467C9.2872 5.42889 13.7026 9.82201 13.863 10.0932C14.0151 10.348 14.0151 10.6604 13.863 10.9151C13.7026 11.1864 9.2872 15.5795 9.09397 15.6617C8.79385 15.785 8.39096 15.7151 8.16073 15.5055C7.9305 15.2918 7.84417 14.8521 7.97572 14.5398C8.01684 14.437 8.65407 13.7713 9.97788 12.4439L11.9184 10.5042L9.97788 8.56037C8.65407 7.2371 8.01684 6.57135 7.97572 6.46861C7.84828 6.16861 7.91817 5.76587 8.12784 5.53574C8.34162 5.3056 8.78152 5.2193 9.09397 5.3467Z" fill="white"/>
                                            </svg>
                                        .main__list-title Четкая и прозрачная отчетность на каждом этапе работы
                                    li.main__list-item
                                        .main__list-svg
                                            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.45164 0.012495C6.69303 0.308384 4.19342 1.62755 2.43383 3.72342C1.19636 5.19465 0.427565 6.86313 0.0863352 8.81927C0.00822239 9.26722 0 9.48502 0 10.5042C0 11.5234 0.00822239 11.7412 0.0863352 12.1891C0.472788 14.4083 1.40192 16.2452 2.9354 17.8356C4.50998 19.4712 6.49569 20.5069 8.81441 20.9137C9.26253 20.9918 9.48042 21 10.5 21C11.7868 21 12.1733 20.9589 13.1846 20.7C16.8107 19.763 19.7625 16.8124 20.6999 13.1877C20.9589 12.1768 21 11.7905 21 10.5042C21 9.2179 20.9589 8.8316 20.6999 7.82065C19.7625 4.20013 16.8107 1.24536 13.1846 0.308384C12.2514 0.0700302 11.8115 0.0166054 10.6644 0.00427628C10.0889 -0.00394249 9.54209 0.000165939 9.45164 0.012495ZM9.09397 5.3467C9.2872 5.42889 13.7026 9.82201 13.863 10.0932C14.0151 10.348 14.0151 10.6604 13.863 10.9151C13.7026 11.1864 9.2872 15.5795 9.09397 15.6617C8.79385 15.785 8.39096 15.7151 8.16073 15.5055C7.9305 15.2918 7.84417 14.8521 7.97572 14.5398C8.01684 14.437 8.65407 13.7713 9.97788 12.4439L11.9184 10.5042L9.97788 8.56037C8.65407 7.2371 8.01684 6.57135 7.97572 6.46861C7.84828 6.16861 7.91817 5.76587 8.12784 5.53574C8.34162 5.3056 8.78152 5.2193 9.09397 5.3467Z" fill="white"/>
                                            </svg>
                                        .main__list-title Ориентация на долгосрочное сотрудничество
                    .swiper-slide
                        .main__block
                            .main__block-bg
                                +picture('img/main/bg2_mb.jpg', 'img/main/bg2_mb', true, '', 439, 896, '', '', '')
                            .main__item.main__item_2
                                h2.main__title Удобное приложение для собственников недвижимости
                                h3.main__subtitle Контроль всех операций по вашим объектам в одно касание
                                ul.main__list
                                    li.main__list-item
                                        .main__list-svg
                                            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.45164 0.012495C6.69303 0.308384 4.19342 1.62755 2.43383 3.72342C1.19636 5.19465 0.427565 6.86313 0.0863352 8.81927C0.00822239 9.26722 0 9.48502 0 10.5042C0 11.5234 0.00822239 11.7412 0.0863352 12.1891C0.472788 14.4083 1.40192 16.2452 2.9354 17.8356C4.50998 19.4712 6.49569 20.5069 8.81441 20.9137C9.26253 20.9918 9.48042 21 10.5 21C11.7868 21 12.1733 20.9589 13.1846 20.7C16.8107 19.763 19.7625 16.8124 20.6999 13.1877C20.9589 12.1768 21 11.7905 21 10.5042C21 9.2179 20.9589 8.8316 20.6999 7.82065C19.7625 4.20013 16.8107 1.24536 13.1846 0.308384C12.2514 0.0700302 11.8115 0.0166054 10.6644 0.00427628C10.0889 -0.00394249 9.54209 0.000165939 9.45164 0.012495ZM9.09397 5.3467C9.2872 5.42889 13.7026 9.82201 13.863 10.0932C14.0151 10.348 14.0151 10.6604 13.863 10.9151C13.7026 11.1864 9.2872 15.5795 9.09397 15.6617C8.79385 15.785 8.39096 15.7151 8.16073 15.5055C7.9305 15.2918 7.84417 14.8521 7.97572 14.5398C8.01684 14.437 8.65407 13.7713 9.97788 12.4439L11.9184 10.5042L9.97788 8.56037C8.65407 7.2371 8.01684 6.57135 7.97572 6.46861C7.84828 6.16861 7.91817 5.76587 8.12784 5.53574C8.34162 5.3056 8.78152 5.2193 9.09397 5.3467Z" fill="white"/>
                                            </svg>
                                        .main__list-title Доступ к календарю бронирований
                                    li.main__list-item
                                        .main__list-svg
                                            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.45164 0.012495C6.69303 0.308384 4.19342 1.62755 2.43383 3.72342C1.19636 5.19465 0.427565 6.86313 0.0863352 8.81927C0.00822239 9.26722 0 9.48502 0 10.5042C0 11.5234 0.00822239 11.7412 0.0863352 12.1891C0.472788 14.4083 1.40192 16.2452 2.9354 17.8356C4.50998 19.4712 6.49569 20.5069 8.81441 20.9137C9.26253 20.9918 9.48042 21 10.5 21C11.7868 21 12.1733 20.9589 13.1846 20.7C16.8107 19.763 19.7625 16.8124 20.6999 13.1877C20.9589 12.1768 21 11.7905 21 10.5042C21 9.2179 20.9589 8.8316 20.6999 7.82065C19.7625 4.20013 16.8107 1.24536 13.1846 0.308384C12.2514 0.0700302 11.8115 0.0166054 10.6644 0.00427628C10.0889 -0.00394249 9.54209 0.000165939 9.45164 0.012495ZM9.09397 5.3467C9.2872 5.42889 13.7026 9.82201 13.863 10.0932C14.0151 10.348 14.0151 10.6604 13.863 10.9151C13.7026 11.1864 9.2872 15.5795 9.09397 15.6617C8.79385 15.785 8.39096 15.7151 8.16073 15.5055C7.9305 15.2918 7.84417 14.8521 7.97572 14.5398C8.01684 14.437 8.65407 13.7713 9.97788 12.4439L11.9184 10.5042L9.97788 8.56037C8.65407 7.2371 8.01684 6.57135 7.97572 6.46861C7.84828 6.16861 7.91817 5.76587 8.12784 5.53574C8.34162 5.3056 8.78152 5.2193 9.09397 5.3467Z" fill="white"/>
                                            </svg>
                                        .main__list-title Полный отчет финансовых транзакций по объектам
                                    li.main__list-item
                                        .main__list-svg
                                            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.45164 0.012495C6.69303 0.308384 4.19342 1.62755 2.43383 3.72342C1.19636 5.19465 0.427565 6.86313 0.0863352 8.81927C0.00822239 9.26722 0 9.48502 0 10.5042C0 11.5234 0.00822239 11.7412 0.0863352 12.1891C0.472788 14.4083 1.40192 16.2452 2.9354 17.8356C4.50998 19.4712 6.49569 20.5069 8.81441 20.9137C9.26253 20.9918 9.48042 21 10.5 21C11.7868 21 12.1733 20.9589 13.1846 20.7C16.8107 19.763 19.7625 16.8124 20.6999 13.1877C20.9589 12.1768 21 11.7905 21 10.5042C21 9.2179 20.9589 8.8316 20.6999 7.82065C19.7625 4.20013 16.8107 1.24536 13.1846 0.308384C12.2514 0.0700302 11.8115 0.0166054 10.6644 0.00427628C10.0889 -0.00394249 9.54209 0.000165939 9.45164 0.012495ZM9.09397 5.3467C9.2872 5.42889 13.7026 9.82201 13.863 10.0932C14.0151 10.348 14.0151 10.6604 13.863 10.9151C13.7026 11.1864 9.2872 15.5795 9.09397 15.6617C8.79385 15.785 8.39096 15.7151 8.16073 15.5055C7.9305 15.2918 7.84417 14.8521 7.97572 14.5398C8.01684 14.437 8.65407 13.7713 9.97788 12.4439L11.9184 10.5042L9.97788 8.56037C8.65407 7.2371 8.01684 6.57135 7.97572 6.46861C7.84828 6.16861 7.91817 5.76587 8.12784 5.53574C8.34162 5.3056 8.78152 5.2193 9.09397 5.3467Z" fill="white"/>
                                            </svg>
                                        .main__list-title Операционная информация по&nbsp;каждому объекту
                                    li.main__list-item
                                        .main__list-svg
                                            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.45164 0.012495C6.69303 0.308384 4.19342 1.62755 2.43383 3.72342C1.19636 5.19465 0.427565 6.86313 0.0863352 8.81927C0.00822239 9.26722 0 9.48502 0 10.5042C0 11.5234 0.00822239 11.7412 0.0863352 12.1891C0.472788 14.4083 1.40192 16.2452 2.9354 17.8356C4.50998 19.4712 6.49569 20.5069 8.81441 20.9137C9.26253 20.9918 9.48042 21 10.5 21C11.7868 21 12.1733 20.9589 13.1846 20.7C16.8107 19.763 19.7625 16.8124 20.6999 13.1877C20.9589 12.1768 21 11.7905 21 10.5042C21 9.2179 20.9589 8.8316 20.6999 7.82065C19.7625 4.20013 16.8107 1.24536 13.1846 0.308384C12.2514 0.0700302 11.8115 0.0166054 10.6644 0.00427628C10.0889 -0.00394249 9.54209 0.000165939 9.45164 0.012495ZM9.09397 5.3467C9.2872 5.42889 13.7026 9.82201 13.863 10.0932C14.0151 10.348 14.0151 10.6604 13.863 10.9151C13.7026 11.1864 9.2872 15.5795 9.09397 15.6617C8.79385 15.785 8.39096 15.7151 8.16073 15.5055C7.9305 15.2918 7.84417 14.8521 7.97572 14.5398C8.01684 14.437 8.65407 13.7713 9.97788 12.4439L11.9184 10.5042L9.97788 8.56037C8.65407 7.2371 8.01684 6.57135 7.97572 6.46861C7.84828 6.16861 7.91817 5.76587 8.12784 5.53574C8.34162 5.3056 8.78152 5.2193 9.09397 5.3467Z" fill="white"/>
                                            </svg>
                                        .main__list-title Чат поддержки для собственников
                    .swiper-slide
                        .main__block
                            .main__block-bg
                                +picture('img/main/bg3_mb.jpg', 'img/main/bg3_mb', true, '', 439, 896, '', '', '')
                            .main__item.main__item_3
                                h2.main__title Широкий спектр дополнительных услуг
                                h3.main__subtitle Обеспечение комфортной жизни арендаторов за&nbsp;счет вспомогательных сервисов
                                ul.main__list
                                    li.main__list-item
                                        .main__list-svg
                                            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.45164 0.012495C6.69303 0.308384 4.19342 1.62755 2.43383 3.72342C1.19636 5.19465 0.427565 6.86313 0.0863352 8.81927C0.00822239 9.26722 0 9.48502 0 10.5042C0 11.5234 0.00822239 11.7412 0.0863352 12.1891C0.472788 14.4083 1.40192 16.2452 2.9354 17.8356C4.50998 19.4712 6.49569 20.5069 8.81441 20.9137C9.26253 20.9918 9.48042 21 10.5 21C11.7868 21 12.1733 20.9589 13.1846 20.7C16.8107 19.763 19.7625 16.8124 20.6999 13.1877C20.9589 12.1768 21 11.7905 21 10.5042C21 9.2179 20.9589 8.8316 20.6999 7.82065C19.7625 4.20013 16.8107 1.24536 13.1846 0.308384C12.2514 0.0700302 11.8115 0.0166054 10.6644 0.00427628C10.0889 -0.00394249 9.54209 0.000165939 9.45164 0.012495ZM9.09397 5.3467C9.2872 5.42889 13.7026 9.82201 13.863 10.0932C14.0151 10.348 14.0151 10.6604 13.863 10.9151C13.7026 11.1864 9.2872 15.5795 9.09397 15.6617C8.79385 15.785 8.39096 15.7151 8.16073 15.5055C7.9305 15.2918 7.84417 14.8521 7.97572 14.5398C8.01684 14.437 8.65407 13.7713 9.97788 12.4439L11.9184 10.5042L9.97788 8.56037C8.65407 7.2371 8.01684 6.57135 7.97572 6.46861C7.84828 6.16861 7.91817 5.76587 8.12784 5.53574C8.34162 5.3056 8.78152 5.2193 9.09397 5.3467Z" fill="white"/>
                                            </svg>
                                        .main__list-title Разовая уборка в апартаментах и&nbsp;помесячные пакетные предложения
                                    li.main__list-item
                                        .main__list-svg
                                            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.45164 0.012495C6.69303 0.308384 4.19342 1.62755 2.43383 3.72342C1.19636 5.19465 0.427565 6.86313 0.0863352 8.81927C0.00822239 9.26722 0 9.48502 0 10.5042C0 11.5234 0.00822239 11.7412 0.0863352 12.1891C0.472788 14.4083 1.40192 16.2452 2.9354 17.8356C4.50998 19.4712 6.49569 20.5069 8.81441 20.9137C9.26253 20.9918 9.48042 21 10.5 21C11.7868 21 12.1733 20.9589 13.1846 20.7C16.8107 19.763 19.7625 16.8124 20.6999 13.1877C20.9589 12.1768 21 11.7905 21 10.5042C21 9.2179 20.9589 8.8316 20.6999 7.82065C19.7625 4.20013 16.8107 1.24536 13.1846 0.308384C12.2514 0.0700302 11.8115 0.0166054 10.6644 0.00427628C10.0889 -0.00394249 9.54209 0.000165939 9.45164 0.012495ZM9.09397 5.3467C9.2872 5.42889 13.7026 9.82201 13.863 10.0932C14.0151 10.348 14.0151 10.6604 13.863 10.9151C13.7026 11.1864 9.2872 15.5795 9.09397 15.6617C8.79385 15.785 8.39096 15.7151 8.16073 15.5055C7.9305 15.2918 7.84417 14.8521 7.97572 14.5398C8.01684 14.437 8.65407 13.7713 9.97788 12.4439L11.9184 10.5042L9.97788 8.56037C8.65407 7.2371 8.01684 6.57135 7.97572 6.46861C7.84828 6.16861 7.91817 5.76587 8.12784 5.53574C8.34162 5.3056 8.78152 5.2193 9.09397 5.3467Z" fill="white"/>
                                            </svg>
                                        .main__list-title Доступный трансфер, а также ранний и поздний заезд/выезд
                                    li.main__list-item
                                        .main__list-svg
                                            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.45164 0.012495C6.69303 0.308384 4.19342 1.62755 2.43383 3.72342C1.19636 5.19465 0.427565 6.86313 0.0863352 8.81927C0.00822239 9.26722 0 9.48502 0 10.5042C0 11.5234 0.00822239 11.7412 0.0863352 12.1891C0.472788 14.4083 1.40192 16.2452 2.9354 17.8356C4.50998 19.4712 6.49569 20.5069 8.81441 20.9137C9.26253 20.9918 9.48042 21 10.5 21C11.7868 21 12.1733 20.9589 13.1846 20.7C16.8107 19.763 19.7625 16.8124 20.6999 13.1877C20.9589 12.1768 21 11.7905 21 10.5042C21 9.2179 20.9589 8.8316 20.6999 7.82065C19.7625 4.20013 16.8107 1.24536 13.1846 0.308384C12.2514 0.0700302 11.8115 0.0166054 10.6644 0.00427628C10.0889 -0.00394249 9.54209 0.000165939 9.45164 0.012495ZM9.09397 5.3467C9.2872 5.42889 13.7026 9.82201 13.863 10.0932C14.0151 10.348 14.0151 10.6604 13.863 10.9151C13.7026 11.1864 9.2872 15.5795 9.09397 15.6617C8.79385 15.785 8.39096 15.7151 8.16073 15.5055C7.9305 15.2918 7.84417 14.8521 7.97572 14.5398C8.01684 14.437 8.65407 13.7713 9.97788 12.4439L11.9184 10.5042L9.97788 8.56037C8.65407 7.2371 8.01684 6.57135 7.97572 6.46861C7.84828 6.16861 7.91817 5.76587 8.12784 5.53574C8.34162 5.3056 8.78152 5.2193 9.09397 5.3467Z" fill="white"/>
                                            </svg>
                                        .main__list-title Вызов врача и услуги няни
                                    li.main__list-item
                                        .main__list-svg
                                            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.45164 0.012495C6.69303 0.308384 4.19342 1.62755 2.43383 3.72342C1.19636 5.19465 0.427565 6.86313 0.0863352 8.81927C0.00822239 9.26722 0 9.48502 0 10.5042C0 11.5234 0.00822239 11.7412 0.0863352 12.1891C0.472788 14.4083 1.40192 16.2452 2.9354 17.8356C4.50998 19.4712 6.49569 20.5069 8.81441 20.9137C9.26253 20.9918 9.48042 21 10.5 21C11.7868 21 12.1733 20.9589 13.1846 20.7C16.8107 19.763 19.7625 16.8124 20.6999 13.1877C20.9589 12.1768 21 11.7905 21 10.5042C21 9.2179 20.9589 8.8316 20.6999 7.82065C19.7625 4.20013 16.8107 1.24536 13.1846 0.308384C12.2514 0.0700302 11.8115 0.0166054 10.6644 0.00427628C10.0889 -0.00394249 9.54209 0.000165939 9.45164 0.012495ZM9.09397 5.3467C9.2872 5.42889 13.7026 9.82201 13.863 10.0932C14.0151 10.348 14.0151 10.6604 13.863 10.9151C13.7026 11.1864 9.2872 15.5795 9.09397 15.6617C8.79385 15.785 8.39096 15.7151 8.16073 15.5055C7.9305 15.2918 7.84417 14.8521 7.97572 14.5398C8.01684 14.437 8.65407 13.7713 9.97788 12.4439L11.9184 10.5042L9.97788 8.56037C8.65407 7.2371 8.01684 6.57135 7.97572 6.46861C7.84828 6.16861 7.91817 5.76587 8.12784 5.53574C8.34162 5.3056 8.78152 5.2193 9.09397 5.3467Z" fill="white"/>
                                            </svg>
                                        .main__list-title Доставка цветов, фруктов и подарков
            .container
                .main__form
                    form.p-form.main__form-item(data-lang="ru")
                        .main__form-title Оставьте заявку, чтобы получить бесплатную консультацию и оценку доходности вашего объекта
                        .p-form__inputs
                            .p-form__input
                                input(type="text" name="name" placeholder="Ваше имя")
                            .p-form__input
                                input(type="tel" name="tel" placeholder="Номер телефона")
                                //.p-inter-tel
                                //    .p-inter-tel__input
                                //        .p-inter-tel__select
                                //            button(type="button").p-inter-tel__select-block
                                //                span.fi.fi-ru
                                //                span.p-inter-tel__select-svg
                                //                    <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                //                    <path d="M5 6L9.33013 0H0.669873L5 6Z" fill="#AEAEAE"/>
                                //                    </svg>
                                //            .p-inter-tel__options
                                //                input(type="text" placeholder="Поиск названия страны")
                                //                ul
                                //        .p-inter-tel__input-item
                                //            .p-inter-tel__input-prefix <span>+7</span>&nbsp;
                                //            input(type="hidden" name="ip_status" value="true")
                                //            input(type="hidden" name="tel_slug" value="ru")
                                //            input(type="tel" name="tel" autocomplete="off" placeholder="Номер телефона")
                            .p-form__input
                                .p-select
                                    input(type="hidden" name="list" value="Услуга" data-default="Услуга").p-select__input
                                    button(type="button").p-select__btn
                                        span.p-select__current Услуга
                                        span.p-select__svg
                                            <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5 6L9.33013 0H0.669873L5 6Z" fill="#AEAEAE"/>
                                            </svg>
                                    ul.p-select__options
                                        li.p-select__option Аренда квартир
                                        li.p-select__option Покупка и продажа недвижимости
                                        li.p-select__option Управление недвижимостью
                                        li.p-select__option Интерьер и дизайн
                                        li.p-select__option Юридические услуги
                                        li.p-select__option Партнерская программа
                                        li.p-select__option Продакшн студия
                            .p-form__input
                                label.p-form__check
                                    input(type="checkbox" name="check")
                                    span.p-form__check-square
                                        +picture('img/icons/tick.png', 'img/icons/tick', true, '', 8, 8, '', '', '')
                                    span.p-form__check-title Я даю cогласие на обработку персональных данных в&nbsp;соответствии с <a href="#!">Политикой конфиденциальности</a>
                            .p-form__input
                                +btnSubmit('Отправить', ' p-form__btn')
                .main__swiper-pagination.main__swiper-pagination_1
                    .swiper-pagination
                    .main__nums
                        .main__nums-start 01
                        .main__nums-separator /
                        .main__nums-end 03
                .main__swiper-pagination.main__swiper-pagination_2
                    .swiper-pagination
                    .main__nums
                        .main__nums-start 01
                        .main__nums-separator /
                        .main__nums-end 03
    .cards
        .container
            .cards__swiper
                .swiper(data-speed="1000")
                    .swiper-wrapper.active
                        .swiper-slide
                            +mainCard(1, 'Аренда квартиры', '#services1', ' cards__item_white')
                        .swiper-slide
                            +mainCard(2, 'Покупка и&nbsp;продажа', '#services2', ' ')
                        .swiper-slide
                            +mainCard(3, 'Отдать в&nbsp;управление','#services3', ' cards__item_white')
                        .swiper-slide
                            +mainCard(4, 'Интерьер Дизайн', '#services4', ' ')
                        .swiper-slide
                            +mainCard(5, 'Юридические услуги', '#services5', ' cards__item_white')
                        .swiper-slide
                            +mainCard(6, 'Партнерская программа', '#services6', ' ')
                        .swiper-slide
                            +mainCard(7, 'Продакшн студия', '#services7', ' cards__item_white')
            .cards__bottom
                .swiper-scrollbar
                .swiper-pagination
                .cards__arrows
                    .swiper-button-prev.swiper-button
                        +picture('img/cards/left.png', 'img/cards/left', true, '', 31, 30, '', '', '')
                    .swiper-button-next.swiper-button
                        +picture('img/cards/right.png', 'img/cards/right', true, '', 31, 30, '', '', '')
            .cards__list
                +cardsListItem('7+', 'лет опыта на&nbsp;рынке ОАЭ', ' cards__list-item_1')
                +cardsListItem('450+', 'объектов в&nbsp;управлении', ' cards__list-item_2')
                +cardsListItem('220+', 'инвесторов в&nbsp;пуле', ' cards__list-item_3')
                +cardsListItem('250+', 'млн долларов стоимость объектов', ' cards__list-item_4')
                +cardsListItem('150+', 'сотрудников в&nbsp;штате', ' cards__list-item_5')

    .services
        .container
            .services__block
                #services1.services__item.services__item_1
                    .services__item-left
                        +picture('img/main/services/1.jpg', 'img/main/services/1', true, '', 660, 594, '', '', '')
                    .services__item-right
                        .services__item-block
                            h2.services__item-title Аренда квартиры
                            p.services__item-text Аренда объектов в самых привлекательных районах Дубая. Команда профессионалов оказывает всестороннюю поддержку гостям, делая их&nbsp;пребывание максимально комфортным.
                            ul.services__list
                                li.services__list-li
                                    .services__list-icon
                                        include ../../components/serviceListIcon
                                    .services__list-text ТОП–10 Holiday Homes компаний Дубая, по версии Bayut
                                li.services__list-li
                                    .services__list-icon
                                        include ../../components/serviceListIcon
                                    .services__list-text Краткосрочная и долгосрочная аренда
                                li.services__list-li
                                    .services__list-icon
                                        include ../../components/serviceListIcon
                                    .services__list-text Большой выбор апартаментов от&nbsp;бюджетного до люкс сегмента
                                li.services__list-li
                                    .services__list-icon
                                        include ../../components/serviceListIcon
                                    .services__list-text Апартаменты и виллы более чем в 33 локациях в Дубае
                                li.services__list-li
                                    .services__list-icon
                                        include ../../components/serviceListIcon
                                    .services__list-text Круглосуточный консьерж-сервис с возможностью заселения и&nbsp;выселения арендатора
                        .services__item-btns
                            +btn('Найти жилье', ' services__item-btn')
                            +btnTransparentButton('Бесплатный подбор', ' services__item-btn services__item-btn_2 modal__show')(data-modal="cons4")
                #services2.services__item.services__item_reversed.services__item_2
                    .services__item-left
                        +picture('img/main/services/2.jpg', 'img/main/services/2', true, '', 703, 645, '', '', '')
                    .services__item-right
                        .services__item-block
                            h2.services__item-title Покупка и продажа недвижимости
                            p.services__item-text Формирование безопасных инвестиционных стратегий с высоким ROI и ликвидностью, а&nbsp;также стабильным доходом от аренды.
                            ul.services__list
                                li.services__list-li
                                    .services__list-icon
                                        include ../../components/serviceListIcon
                                    .services__list-text Подбор, покупка или продажа объектов недвижимости в Дубае
                                li.services__list-li
                                    .services__list-icon
                                        include ../../components/serviceListIcon
                                    .services__list-text Сделки на первичном и вторичном рынке
                                li.services__list-li
                                    .services__list-icon
                                        include ../../components/serviceListIcon
                                    .services__list-text Покупка апартаментов, вилл, таунхаусов
                                li.services__list-li
                                    .services__list-icon
                                        include ../../components/serviceListIcon
                                    .services__list-text Ипотечные сделки
                                li.services__list-li
                                    .services__list-icon
                                        include ../../components/serviceListIcon
                                    .services__list-text Гарантия юридической чистоты сделки
                        .services__item-btns
                            +btn('Перейти на сайт', ' services__item-btn')
                #services3.services__item.services__item_3
                    .services__item-left
                        +picture('img/main/services/3.jpg', 'img/main/services/3', true, '', 660, 594, '', '', '')
                    .services__item-right
                        .services__item-block
                            h2.services__item-title Управление недвижимостью
                            p.services__item-text Индивидуальная разработка стратегии управления для каждого инвестора, подготовка и управление объектом под ключ, прозрачная система контроля отчетности для собственников через приложение.
                            ul.services__list
                                li.services__list-li
                                    .services__list-icon
                                        include ../../components/serviceListIcon
                                    .services__list-text Топ-3 управляющих компаний в 2019 г. по версии Dubizzle
                                li.services__list-li
                                    .services__list-icon
                                        include ../../components/serviceListIcon
                                    .services__list-text Подготовка объекта и ввод его в эксплуатацию
                                li.services__list-li
                                    .services__list-icon
                                        include ../../components/serviceListIcon
                                    .services__list-text Стабильная загрузка объекта и&nbsp;высокий доход (ROI)
                                li.services__list-li
                                    .services__list-icon
                                        include ../../components/serviceListIcon
                                    .services__list-text Обслуживание и поддержка недвижимости
                                li.services__list-li
                                    .services__list-icon
                                        include ../../components/serviceListIcon
                                    .services__list-text Комплексная работа с арендаторами
                        .services__item-btns
                            +btn('Перейти на сайт', ' services__item-btn')
                #services4.services__item.services__item_reversed.services__item_4
                    .services__item-left
                        +picture('img/main/services/4.jpg', 'img/main/services/4', true, '', 703, 592, '', '', '')
                    .services__item-right
                        .services__item-block
                            h2.services__item-title Интерьер и дизайн
                            p.services__item-text Команда специалистов занимается комплексной подготовкой недвижимости к сдаче в аренду или&nbsp;продаже для максимальной доходности.
                            ul.services__list
                                li.services__list-li
                                    .services__list-icon
                                        include ../../components/serviceListIcon
                                    .services__list-text Максимизация ROI объекта
                                li.services__list-li
                                    .services__list-icon
                                        include ../../components/serviceListIcon
                                    .services__list-text Ремонт, мебелирование, декорирование, реновация
                                li.services__list-li
                                    .services__list-icon
                                        include ../../components/serviceListIcon
                                    .services__list-text Для собственного проживания или для сдачи в аренду
                                li.services__list-li
                                    .services__list-icon
                                        include ../../components/serviceListIcon
                                    .services__list-text Работа с износостойкими материалами и мебелью
                                li.services__list-li
                                    .services__list-icon
                                        include ../../components/serviceListIcon
                                    .services__list-text Гарантийная поддержка – 1 год
                        .services__item-btns
                            +btn('Перейти на сайт', ' services__item-btn')
                #services5.services__item.services__item_5
                    .services__item-left
                        +picture('img/main/services/5.jpg', 'img/main/services/5', true, '', 660, 594, '', '', '')
                    .services__item-right
                        .services__item-block
                            h2.services__item-title Юридические услуги
                            p.services__item-text Предоставление юридической и бухгалтерской поддержки, помощь с релокацией, организация поддержки в продвижении и поиске новых возможностей развития бизнеса.
                            ul.services__list
                                li.services__list-li
                                    .services__list-icon
                                        include ../../components/serviceListIcon
                                    .services__list-text Юридическая консультация и поддержка
                                li.services__list-li
                                    .services__list-icon
                                        include ../../components/serviceListIcon
                                    .services__list-text Открытие компаний в ОАЭ
                                li.services__list-li
                                    .services__list-icon
                                        include ../../components/serviceListIcon
                                    .services__list-text Открытие банковских счетов в ОАЭ
                                li.services__list-li
                                    .services__list-icon
                                        include ../../components/serviceListIcon
                                    .services__list-text Бухгалтерское сопровождение
                                li.services__list-li
                                    .services__list-icon
                                        include ../../components/serviceListIcon
                                    .services__list-text PRO-услуги
                        .services__item-btns
                            +btnTransparentButton('Бесплатная консультация', ' services__item-btn services__item-btn_2 modal__show')(data-modal="cons1")
                #services6.services__item.services__item_reversed.services__item_6
                    .services__item-left
                        +picture('img/main/services/6.jpg', 'img/main/services/6', true, '', 704, 541, '', '', '')
                    .services__item-right
                        .services__item-block
                            h2.services__item-title Партнерская программа
                            p.services__item-text Множество вариантов партнерской программы по&nbsp;каждому направлению деятельности холдинга.
                            ul.services__list
                                li.services__list-li
                                    .services__list-icon
                                        include ../../components/serviceListIcon
                                    .services__list-text Выгодные условия для агентов
                                li.services__list-li
                                    .services__list-icon
                                        include ../../components/serviceListIcon
                                    .services__list-text Прозрачное взаимодействие
                                li.services__list-li
                                    .services__list-icon
                                        include ../../components/serviceListIcon
                                    .services__list-text Доступ к отчетности о статусе сделки
                                li.services__list-li
                                    .services__list-icon
                                        include ../../components/serviceListIcon
                                    .services__list-text Закрепление всех условий договором
                                li.services__list-li
                                    .services__list-icon
                                        include ../../components/serviceListIcon
                                    .services__list-text Гарантия выплат
                        .services__item-btns
                            +btnTransparentButton('Бесплатная консультация', ' services__item-btn services__item-btn_2 modal__show')(data-modal="cons2")
                #services7.services__item.services__item_7
                    .services__item-left
                        +picture('img/main/services/7.jpg', 'img/main/services/7', true, '', 660, 571, '', '', '')
                    .services__item-right
                        .services__item-block
                            h2.services__item-title Продакшн и студия
                            p.services__item-text Продюсирование проектов под ключ, создание креатива, подготовка и проведение съемки, полный цикл пост продакшна & студия подкастов в Дубае.
                            ul.services__list
                                li.services__list-li
                                    .services__list-icon
                                        include ../../components/serviceListIcon
                                    .services__list-text Оборудование, лицензированное Netflix
                                li.services__list-li
                                    .services__list-icon
                                        include ../../components/serviceListIcon
                                    .services__list-text Разнообразие фонов в студии
                                li.services__list-li
                                    .services__list-icon
                                        include ../../components/serviceListIcon
                                    .services__list-text Выездные съемки, рекламы и прямые трансляции
                                li.services__list-li
                                    .services__list-icon
                                        include ../../components/serviceListIcon
                                    .services__list-text Монтаж, цветокоррекция, обработка звука, анимация, VFX
                                li.services__list-li
                                    .services__list-icon
                                        include ../../components/serviceListIcon
                                    .services__list-text Полноценная подготовка ролика «от» и «до»
                        .services__item-btns
                            +btnTransparentButton('Бесплатная консультация', ' services__item-btn services__item-btn_2 modal__show')(data-modal="cons3")