include ../mixins
main
    .main
        .container.margin-center
            .main__swiper.relative
                .swiper(data-autoplay="10000" data-speed="1000")
                    .swiper-wrapper
                        .swiper-slide
                            .main__block.relative.border-14.overflow-hidden
                                .main__block-bg.absolute.w-full.h-full.img_full.img_cover.border-14.overflow-hidden.left-0.top-0
                                    +picture('img/main/bg1.jpg', 'img/main/bg1', false, '', 1380, 636, '', '', '')
                                .main__item.main__item_1.text-white.relative
                                    .main__title.text-600 Полный цикл услуг по работе с&nbsp;недвижимостью в Дубае
                                    .main__subtitle.text-28.text-600 Увеличение дохода за счет грамотного управления и сдачи вашего объекта
                                    ul.main__list.flex.flex-col.text-20.text-600
                                        li.main__list-item.flex
                                            .main__list-svg.flex-shrink
                                                <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.45164 0.012495C6.69303 0.308384 4.19342 1.62755 2.43383 3.72342C1.19636 5.19465 0.427565 6.86313 0.0863352 8.81927C0.00822239 9.26722 0 9.48502 0 10.5042C0 11.5234 0.00822239 11.7412 0.0863352 12.1891C0.472788 14.4083 1.40192 16.2452 2.9354 17.8356C4.50998 19.4712 6.49569 20.5069 8.81441 20.9137C9.26253 20.9918 9.48042 21 10.5 21C11.7868 21 12.1733 20.9589 13.1846 20.7C16.8107 19.763 19.7625 16.8124 20.6999 13.1877C20.9589 12.1768 21 11.7905 21 10.5042C21 9.2179 20.9589 8.8316 20.6999 7.82065C19.7625 4.20013 16.8107 1.24536 13.1846 0.308384C12.2514 0.0700302 11.8115 0.0166054 10.6644 0.00427628C10.0889 -0.00394249 9.54209 0.000165939 9.45164 0.012495ZM9.09397 5.3467C9.2872 5.42889 13.7026 9.82201 13.863 10.0932C14.0151 10.348 14.0151 10.6604 13.863 10.9151C13.7026 11.1864 9.2872 15.5795 9.09397 15.6617C8.79385 15.785 8.39096 15.7151 8.16073 15.5055C7.9305 15.2918 7.84417 14.8521 7.97572 14.5398C8.01684 14.437 8.65407 13.7713 9.97788 12.4439L11.9184 10.5042L9.97788 8.56037C8.65407 7.2371 8.01684 6.57135 7.97572 6.46861C7.84828 6.16861 7.91817 5.76587 8.12784 5.53574C8.34162 5.3056 8.78152 5.2193 9.09397 5.3467Z" fill="white"/>
                                                </svg>
                                            .main__list-title.text-20 Глубокая многолетняя экспертиза рынка
                                        li.main__list-item.flex
                                            .main__list-svg.flex-shrink
                                                <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.45164 0.012495C6.69303 0.308384 4.19342 1.62755 2.43383 3.72342C1.19636 5.19465 0.427565 6.86313 0.0863352 8.81927C0.00822239 9.26722 0 9.48502 0 10.5042C0 11.5234 0.00822239 11.7412 0.0863352 12.1891C0.472788 14.4083 1.40192 16.2452 2.9354 17.8356C4.50998 19.4712 6.49569 20.5069 8.81441 20.9137C9.26253 20.9918 9.48042 21 10.5 21C11.7868 21 12.1733 20.9589 13.1846 20.7C16.8107 19.763 19.7625 16.8124 20.6999 13.1877C20.9589 12.1768 21 11.7905 21 10.5042C21 9.2179 20.9589 8.8316 20.6999 7.82065C19.7625 4.20013 16.8107 1.24536 13.1846 0.308384C12.2514 0.0700302 11.8115 0.0166054 10.6644 0.00427628C10.0889 -0.00394249 9.54209 0.000165939 9.45164 0.012495ZM9.09397 5.3467C9.2872 5.42889 13.7026 9.82201 13.863 10.0932C14.0151 10.348 14.0151 10.6604 13.863 10.9151C13.7026 11.1864 9.2872 15.5795 9.09397 15.6617C8.79385 15.785 8.39096 15.7151 8.16073 15.5055C7.9305 15.2918 7.84417 14.8521 7.97572 14.5398C8.01684 14.437 8.65407 13.7713 9.97788 12.4439L11.9184 10.5042L9.97788 8.56037C8.65407 7.2371 8.01684 6.57135 7.97572 6.46861C7.84828 6.16861 7.91817 5.76587 8.12784 5.53574C8.34162 5.3056 8.78152 5.2193 9.09397 5.3467Z" fill="white"/>
                                                </svg>
                                            .main__list-title.text-20 Индивидуальный подход к каждому клиенту
                                        li.main__list-item.flex
                                            .main__list-svg.flex-shrink
                                                <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.45164 0.012495C6.69303 0.308384 4.19342 1.62755 2.43383 3.72342C1.19636 5.19465 0.427565 6.86313 0.0863352 8.81927C0.00822239 9.26722 0 9.48502 0 10.5042C0 11.5234 0.00822239 11.7412 0.0863352 12.1891C0.472788 14.4083 1.40192 16.2452 2.9354 17.8356C4.50998 19.4712 6.49569 20.5069 8.81441 20.9137C9.26253 20.9918 9.48042 21 10.5 21C11.7868 21 12.1733 20.9589 13.1846 20.7C16.8107 19.763 19.7625 16.8124 20.6999 13.1877C20.9589 12.1768 21 11.7905 21 10.5042C21 9.2179 20.9589 8.8316 20.6999 7.82065C19.7625 4.20013 16.8107 1.24536 13.1846 0.308384C12.2514 0.0700302 11.8115 0.0166054 10.6644 0.00427628C10.0889 -0.00394249 9.54209 0.000165939 9.45164 0.012495ZM9.09397 5.3467C9.2872 5.42889 13.7026 9.82201 13.863 10.0932C14.0151 10.348 14.0151 10.6604 13.863 10.9151C13.7026 11.1864 9.2872 15.5795 9.09397 15.6617C8.79385 15.785 8.39096 15.7151 8.16073 15.5055C7.9305 15.2918 7.84417 14.8521 7.97572 14.5398C8.01684 14.437 8.65407 13.7713 9.97788 12.4439L11.9184 10.5042L9.97788 8.56037C8.65407 7.2371 8.01684 6.57135 7.97572 6.46861C7.84828 6.16861 7.91817 5.76587 8.12784 5.53574C8.34162 5.3056 8.78152 5.2193 9.09397 5.3467Z" fill="white"/>
                                                </svg>
                                            .main__list-title.text-20 Четкая и прозрачная отчетность на каждом этапе работы
                                        li.main__list-item.flex
                                            .main__list-svg.flex-shrink
                                                <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.45164 0.012495C6.69303 0.308384 4.19342 1.62755 2.43383 3.72342C1.19636 5.19465 0.427565 6.86313 0.0863352 8.81927C0.00822239 9.26722 0 9.48502 0 10.5042C0 11.5234 0.00822239 11.7412 0.0863352 12.1891C0.472788 14.4083 1.40192 16.2452 2.9354 17.8356C4.50998 19.4712 6.49569 20.5069 8.81441 20.9137C9.26253 20.9918 9.48042 21 10.5 21C11.7868 21 12.1733 20.9589 13.1846 20.7C16.8107 19.763 19.7625 16.8124 20.6999 13.1877C20.9589 12.1768 21 11.7905 21 10.5042C21 9.2179 20.9589 8.8316 20.6999 7.82065C19.7625 4.20013 16.8107 1.24536 13.1846 0.308384C12.2514 0.0700302 11.8115 0.0166054 10.6644 0.00427628C10.0889 -0.00394249 9.54209 0.000165939 9.45164 0.012495ZM9.09397 5.3467C9.2872 5.42889 13.7026 9.82201 13.863 10.0932C14.0151 10.348 14.0151 10.6604 13.863 10.9151C13.7026 11.1864 9.2872 15.5795 9.09397 15.6617C8.79385 15.785 8.39096 15.7151 8.16073 15.5055C7.9305 15.2918 7.84417 14.8521 7.97572 14.5398C8.01684 14.437 8.65407 13.7713 9.97788 12.4439L11.9184 10.5042L9.97788 8.56037C8.65407 7.2371 8.01684 6.57135 7.97572 6.46861C7.84828 6.16861 7.91817 5.76587 8.12784 5.53574C8.34162 5.3056 8.78152 5.2193 9.09397 5.3467Z" fill="white"/>
                                                </svg>
                                            .main__list-title.text-20 Ориентация на долгосрочное сотрудничество
                        .swiper-slide
                            .main__block.relative.border-14.overflow-hidden
                                .main__block-bg.absolute.w-full.h-full.img_full.img_cover.border-14.overflow-hidden.left-0.top-0
                                    +picture('img/main/bg2.jpg', 'img/main/bg2', true, '', 1380, 636, '', '', '')
                                .main__item.main__item_2.text-white.relative
                                    .main__title.text-600 Удобное приложение для собственников недвижимости
                                    .main__subtitle.text-28.text-600 Контроль всех операций по вашим объектам в одно касание
                                    ul.main__list.flex.flex-col.text-20.text-600
                                        li.main__list-item.flex
                                            .main__list-svg.flex-shrink
                                                <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.45164 0.012495C6.69303 0.308384 4.19342 1.62755 2.43383 3.72342C1.19636 5.19465 0.427565 6.86313 0.0863352 8.81927C0.00822239 9.26722 0 9.48502 0 10.5042C0 11.5234 0.00822239 11.7412 0.0863352 12.1891C0.472788 14.4083 1.40192 16.2452 2.9354 17.8356C4.50998 19.4712 6.49569 20.5069 8.81441 20.9137C9.26253 20.9918 9.48042 21 10.5 21C11.7868 21 12.1733 20.9589 13.1846 20.7C16.8107 19.763 19.7625 16.8124 20.6999 13.1877C20.9589 12.1768 21 11.7905 21 10.5042C21 9.2179 20.9589 8.8316 20.6999 7.82065C19.7625 4.20013 16.8107 1.24536 13.1846 0.308384C12.2514 0.0700302 11.8115 0.0166054 10.6644 0.00427628C10.0889 -0.00394249 9.54209 0.000165939 9.45164 0.012495ZM9.09397 5.3467C9.2872 5.42889 13.7026 9.82201 13.863 10.0932C14.0151 10.348 14.0151 10.6604 13.863 10.9151C13.7026 11.1864 9.2872 15.5795 9.09397 15.6617C8.79385 15.785 8.39096 15.7151 8.16073 15.5055C7.9305 15.2918 7.84417 14.8521 7.97572 14.5398C8.01684 14.437 8.65407 13.7713 9.97788 12.4439L11.9184 10.5042L9.97788 8.56037C8.65407 7.2371 8.01684 6.57135 7.97572 6.46861C7.84828 6.16861 7.91817 5.76587 8.12784 5.53574C8.34162 5.3056 8.78152 5.2193 9.09397 5.3467Z" fill="white"/>
                                                </svg>
                                            .main__list-title.text-20 Доступ к календарю бронирований
                                        li.main__list-item.flex
                                            .main__list-svg.flex-shrink
                                                <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.45164 0.012495C6.69303 0.308384 4.19342 1.62755 2.43383 3.72342C1.19636 5.19465 0.427565 6.86313 0.0863352 8.81927C0.00822239 9.26722 0 9.48502 0 10.5042C0 11.5234 0.00822239 11.7412 0.0863352 12.1891C0.472788 14.4083 1.40192 16.2452 2.9354 17.8356C4.50998 19.4712 6.49569 20.5069 8.81441 20.9137C9.26253 20.9918 9.48042 21 10.5 21C11.7868 21 12.1733 20.9589 13.1846 20.7C16.8107 19.763 19.7625 16.8124 20.6999 13.1877C20.9589 12.1768 21 11.7905 21 10.5042C21 9.2179 20.9589 8.8316 20.6999 7.82065C19.7625 4.20013 16.8107 1.24536 13.1846 0.308384C12.2514 0.0700302 11.8115 0.0166054 10.6644 0.00427628C10.0889 -0.00394249 9.54209 0.000165939 9.45164 0.012495ZM9.09397 5.3467C9.2872 5.42889 13.7026 9.82201 13.863 10.0932C14.0151 10.348 14.0151 10.6604 13.863 10.9151C13.7026 11.1864 9.2872 15.5795 9.09397 15.6617C8.79385 15.785 8.39096 15.7151 8.16073 15.5055C7.9305 15.2918 7.84417 14.8521 7.97572 14.5398C8.01684 14.437 8.65407 13.7713 9.97788 12.4439L11.9184 10.5042L9.97788 8.56037C8.65407 7.2371 8.01684 6.57135 7.97572 6.46861C7.84828 6.16861 7.91817 5.76587 8.12784 5.53574C8.34162 5.3056 8.78152 5.2193 9.09397 5.3467Z" fill="white"/>
                                                </svg>
                                            .main__list-title.text-20 Полный отчет финансовых транзакций по объектам
                                        li.main__list-item.flex
                                            .main__list-svg.flex-shrink
                                                <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.45164 0.012495C6.69303 0.308384 4.19342 1.62755 2.43383 3.72342C1.19636 5.19465 0.427565 6.86313 0.0863352 8.81927C0.00822239 9.26722 0 9.48502 0 10.5042C0 11.5234 0.00822239 11.7412 0.0863352 12.1891C0.472788 14.4083 1.40192 16.2452 2.9354 17.8356C4.50998 19.4712 6.49569 20.5069 8.81441 20.9137C9.26253 20.9918 9.48042 21 10.5 21C11.7868 21 12.1733 20.9589 13.1846 20.7C16.8107 19.763 19.7625 16.8124 20.6999 13.1877C20.9589 12.1768 21 11.7905 21 10.5042C21 9.2179 20.9589 8.8316 20.6999 7.82065C19.7625 4.20013 16.8107 1.24536 13.1846 0.308384C12.2514 0.0700302 11.8115 0.0166054 10.6644 0.00427628C10.0889 -0.00394249 9.54209 0.000165939 9.45164 0.012495ZM9.09397 5.3467C9.2872 5.42889 13.7026 9.82201 13.863 10.0932C14.0151 10.348 14.0151 10.6604 13.863 10.9151C13.7026 11.1864 9.2872 15.5795 9.09397 15.6617C8.79385 15.785 8.39096 15.7151 8.16073 15.5055C7.9305 15.2918 7.84417 14.8521 7.97572 14.5398C8.01684 14.437 8.65407 13.7713 9.97788 12.4439L11.9184 10.5042L9.97788 8.56037C8.65407 7.2371 8.01684 6.57135 7.97572 6.46861C7.84828 6.16861 7.91817 5.76587 8.12784 5.53574C8.34162 5.3056 8.78152 5.2193 9.09397 5.3467Z" fill="white"/>
                                                </svg>
                                            .main__list-title.text-20 Операционная информация по каждому объекту
                                        li.main__list-item.flex
                                            .main__list-svg.flex-shrink
                                                <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.45164 0.012495C6.69303 0.308384 4.19342 1.62755 2.43383 3.72342C1.19636 5.19465 0.427565 6.86313 0.0863352 8.81927C0.00822239 9.26722 0 9.48502 0 10.5042C0 11.5234 0.00822239 11.7412 0.0863352 12.1891C0.472788 14.4083 1.40192 16.2452 2.9354 17.8356C4.50998 19.4712 6.49569 20.5069 8.81441 20.9137C9.26253 20.9918 9.48042 21 10.5 21C11.7868 21 12.1733 20.9589 13.1846 20.7C16.8107 19.763 19.7625 16.8124 20.6999 13.1877C20.9589 12.1768 21 11.7905 21 10.5042C21 9.2179 20.9589 8.8316 20.6999 7.82065C19.7625 4.20013 16.8107 1.24536 13.1846 0.308384C12.2514 0.0700302 11.8115 0.0166054 10.6644 0.00427628C10.0889 -0.00394249 9.54209 0.000165939 9.45164 0.012495ZM9.09397 5.3467C9.2872 5.42889 13.7026 9.82201 13.863 10.0932C14.0151 10.348 14.0151 10.6604 13.863 10.9151C13.7026 11.1864 9.2872 15.5795 9.09397 15.6617C8.79385 15.785 8.39096 15.7151 8.16073 15.5055C7.9305 15.2918 7.84417 14.8521 7.97572 14.5398C8.01684 14.437 8.65407 13.7713 9.97788 12.4439L11.9184 10.5042L9.97788 8.56037C8.65407 7.2371 8.01684 6.57135 7.97572 6.46861C7.84828 6.16861 7.91817 5.76587 8.12784 5.53574C8.34162 5.3056 8.78152 5.2193 9.09397 5.3467Z" fill="white"/>
                                                </svg>
                                            .main__list-title.text-20 Чат поддержки для собственников
                        .swiper-slide
                            .main__block.relative.border-14.overflow-hidden
                                .main__block-bg.absolute.w-full.h-full.img_full.img_cover.border-14.overflow-hidden.left-0.top-0
                                    +picture('img/main/bg3.jpg', 'img/main/bg3', true, '', 1380, 636, '', '', '')
                                .main__item.main__item_3.text-white.relative
                                    .main__title.text-600 Широкий спектр дополнительных услуг
                                    .main__subtitle.text-28.text-600 Обеспечение комфортной жизни арендаторов за счет вспомогательных сервисов
                                    ul.main__list.flex.flex-col.text-20.text-600
                                        li.main__list-item.flex
                                            .main__list-svg.flex-shrink
                                                <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.45164 0.012495C6.69303 0.308384 4.19342 1.62755 2.43383 3.72342C1.19636 5.19465 0.427565 6.86313 0.0863352 8.81927C0.00822239 9.26722 0 9.48502 0 10.5042C0 11.5234 0.00822239 11.7412 0.0863352 12.1891C0.472788 14.4083 1.40192 16.2452 2.9354 17.8356C4.50998 19.4712 6.49569 20.5069 8.81441 20.9137C9.26253 20.9918 9.48042 21 10.5 21C11.7868 21 12.1733 20.9589 13.1846 20.7C16.8107 19.763 19.7625 16.8124 20.6999 13.1877C20.9589 12.1768 21 11.7905 21 10.5042C21 9.2179 20.9589 8.8316 20.6999 7.82065C19.7625 4.20013 16.8107 1.24536 13.1846 0.308384C12.2514 0.0700302 11.8115 0.0166054 10.6644 0.00427628C10.0889 -0.00394249 9.54209 0.000165939 9.45164 0.012495ZM9.09397 5.3467C9.2872 5.42889 13.7026 9.82201 13.863 10.0932C14.0151 10.348 14.0151 10.6604 13.863 10.9151C13.7026 11.1864 9.2872 15.5795 9.09397 15.6617C8.79385 15.785 8.39096 15.7151 8.16073 15.5055C7.9305 15.2918 7.84417 14.8521 7.97572 14.5398C8.01684 14.437 8.65407 13.7713 9.97788 12.4439L11.9184 10.5042L9.97788 8.56037C8.65407 7.2371 8.01684 6.57135 7.97572 6.46861C7.84828 6.16861 7.91817 5.76587 8.12784 5.53574C8.34162 5.3056 8.78152 5.2193 9.09397 5.3467Z" fill="white"/>
                                                </svg>
                                            .main__list-title.text-20 Разовая уборка в апартаментах и помесячные пакетные предложения
                                        li.main__list-item.flex
                                            .main__list-svg.flex-shrink
                                                <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.45164 0.012495C6.69303 0.308384 4.19342 1.62755 2.43383 3.72342C1.19636 5.19465 0.427565 6.86313 0.0863352 8.81927C0.00822239 9.26722 0 9.48502 0 10.5042C0 11.5234 0.00822239 11.7412 0.0863352 12.1891C0.472788 14.4083 1.40192 16.2452 2.9354 17.8356C4.50998 19.4712 6.49569 20.5069 8.81441 20.9137C9.26253 20.9918 9.48042 21 10.5 21C11.7868 21 12.1733 20.9589 13.1846 20.7C16.8107 19.763 19.7625 16.8124 20.6999 13.1877C20.9589 12.1768 21 11.7905 21 10.5042C21 9.2179 20.9589 8.8316 20.6999 7.82065C19.7625 4.20013 16.8107 1.24536 13.1846 0.308384C12.2514 0.0700302 11.8115 0.0166054 10.6644 0.00427628C10.0889 -0.00394249 9.54209 0.000165939 9.45164 0.012495ZM9.09397 5.3467C9.2872 5.42889 13.7026 9.82201 13.863 10.0932C14.0151 10.348 14.0151 10.6604 13.863 10.9151C13.7026 11.1864 9.2872 15.5795 9.09397 15.6617C8.79385 15.785 8.39096 15.7151 8.16073 15.5055C7.9305 15.2918 7.84417 14.8521 7.97572 14.5398C8.01684 14.437 8.65407 13.7713 9.97788 12.4439L11.9184 10.5042L9.97788 8.56037C8.65407 7.2371 8.01684 6.57135 7.97572 6.46861C7.84828 6.16861 7.91817 5.76587 8.12784 5.53574C8.34162 5.3056 8.78152 5.2193 9.09397 5.3467Z" fill="white"/>
                                                </svg>
                                            .main__list-title.text-20 Доступный трансфер, а также ранний и поздний заезд/выезд
                                        li.main__list-item.flex
                                            .main__list-svg.flex-shrink
                                                <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.45164 0.012495C6.69303 0.308384 4.19342 1.62755 2.43383 3.72342C1.19636 5.19465 0.427565 6.86313 0.0863352 8.81927C0.00822239 9.26722 0 9.48502 0 10.5042C0 11.5234 0.00822239 11.7412 0.0863352 12.1891C0.472788 14.4083 1.40192 16.2452 2.9354 17.8356C4.50998 19.4712 6.49569 20.5069 8.81441 20.9137C9.26253 20.9918 9.48042 21 10.5 21C11.7868 21 12.1733 20.9589 13.1846 20.7C16.8107 19.763 19.7625 16.8124 20.6999 13.1877C20.9589 12.1768 21 11.7905 21 10.5042C21 9.2179 20.9589 8.8316 20.6999 7.82065C19.7625 4.20013 16.8107 1.24536 13.1846 0.308384C12.2514 0.0700302 11.8115 0.0166054 10.6644 0.00427628C10.0889 -0.00394249 9.54209 0.000165939 9.45164 0.012495ZM9.09397 5.3467C9.2872 5.42889 13.7026 9.82201 13.863 10.0932C14.0151 10.348 14.0151 10.6604 13.863 10.9151C13.7026 11.1864 9.2872 15.5795 9.09397 15.6617C8.79385 15.785 8.39096 15.7151 8.16073 15.5055C7.9305 15.2918 7.84417 14.8521 7.97572 14.5398C8.01684 14.437 8.65407 13.7713 9.97788 12.4439L11.9184 10.5042L9.97788 8.56037C8.65407 7.2371 8.01684 6.57135 7.97572 6.46861C7.84828 6.16861 7.91817 5.76587 8.12784 5.53574C8.34162 5.3056 8.78152 5.2193 9.09397 5.3467Z" fill="white"/>
                                                </svg>
                                            .main__list-title.text-20 Вызов врача и услуги няни
                                        li.main__list-item.flex
                                            .main__list-svg.flex-shrink
                                                <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.45164 0.012495C6.69303 0.308384 4.19342 1.62755 2.43383 3.72342C1.19636 5.19465 0.427565 6.86313 0.0863352 8.81927C0.00822239 9.26722 0 9.48502 0 10.5042C0 11.5234 0.00822239 11.7412 0.0863352 12.1891C0.472788 14.4083 1.40192 16.2452 2.9354 17.8356C4.50998 19.4712 6.49569 20.5069 8.81441 20.9137C9.26253 20.9918 9.48042 21 10.5 21C11.7868 21 12.1733 20.9589 13.1846 20.7C16.8107 19.763 19.7625 16.8124 20.6999 13.1877C20.9589 12.1768 21 11.7905 21 10.5042C21 9.2179 20.9589 8.8316 20.6999 7.82065C19.7625 4.20013 16.8107 1.24536 13.1846 0.308384C12.2514 0.0700302 11.8115 0.0166054 10.6644 0.00427628C10.0889 -0.00394249 9.54209 0.000165939 9.45164 0.012495ZM9.09397 5.3467C9.2872 5.42889 13.7026 9.82201 13.863 10.0932C14.0151 10.348 14.0151 10.6604 13.863 10.9151C13.7026 11.1864 9.2872 15.5795 9.09397 15.6617C8.79385 15.785 8.39096 15.7151 8.16073 15.5055C7.9305 15.2918 7.84417 14.8521 7.97572 14.5398C8.01684 14.437 8.65407 13.7713 9.97788 12.4439L11.9184 10.5042L9.97788 8.56037C8.65407 7.2371 8.01684 6.57135 7.97572 6.46861C7.84828 6.16861 7.91817 5.76587 8.12784 5.53574C8.34162 5.3056 8.78152 5.2193 9.09397 5.3467Z" fill="white"/>
                                                </svg>
                                            .main__list-title.text-20 Доставка цветов, фруктов и подарков
                    .main__form.absolute.right-0.top-0.text-white
                        form.p-form.main__form-item
                            .main__form-title.text-24.text-600 Оставьте заявку, чтобы получить бесплатную консультацию и оценку доходности вашего объекта
                            .p-form__inputs.flex.flex-col
                                .p-form__input.w-full
                                    input(type="text" name="name" placeholder="Ваше имя")
                                .p-form__input.w-full
                                    .p-inter-tel.relative(data-slug="ru" data-lang="ru")
                                        .p-inter-tel__input.flex.flex-ai-center
                                            .p-inter-tel__select
                                                button(type="button").p-inter-tel__select-block.flex.flex-ai-center.cursor-pointer
                                                    .fi.fi-ru
                                                    .p-inter-tel__select-svg
                                                        <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M5 6L9.33013 0H0.669873L5 6Z" fill="#AEAEAE"/>
                                                        </svg>
                                                .p-inter-tel__options.absolute.left-0.w-full.text-black
                                                    input(type="text" placeholder="Поиск названия страны")
                                                    ul.overflow-hidden
                                            .p-inter-tel__input-item.flex.flex-ai-center
                                                .p-inter-tel__input-prefix <span>+7</span>&nbsp;
                                                input(type="tel" name="tel" placeholder="(999) 999-99-99" autocomplete="off")
                                .p-form__input.w-full
                                    .p-select.relative.text-16
                                        input(type="hidden" name="list" value="Услуга")
                                        button(type="button").p-select__btn.flex.flex-ai-center
                                            .p-select__current.text-gray Услуга
                                            .p-select__svg
                                                <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M5 6L9.33013 0H0.669873L5 6Z" fill="#AEAEAE"/>
                                                </svg>
                                        ul.p-select__options.absolute.top-0.left-0.hidden
                                            li.p-select__option Юридические услуги
                                            li.p-select__option Партнерская программа
                                            li.p-select__option Продакшн Студия
                                            li.p-select__option Сайт основателя
                                            li.p-select__option Карьера
                                .p-form__input.w-full
                                    .p-form__check.flex.flex-ai-center
                                        input(type="checkbox" name="check" id="check1").hidden
                                        label.p-form__check-square.flex-shrink.relative(for="check1")
                                        .p-form__check-title.text-14 Я даю cогласие на обработку персональных данных в&nbsp;соответствии с <a href="#!" class="text-underline">Политикой конфиденциальности</a>
                                .p-form__input.w-full
                                    +btnSubmit('Отправить', ' p-form__btn bg-red text-600 text-white')
                .main__swiper-pagination.flex.flex-ai-center.absolute.bottom-0.left-0.text-white
                    .swiper-pagination
                    .main__nums.flex.flex-ai-center.text-20
                        .main__nums-start 01
                        .main__nums-separator /
                        .main__nums-end 03
    .cards
        .container.margin-center
            .cards__swiper
                .swiper
                    .swiper-slide
            .cards__bottom.flex.flex-ai-center.relative
                .swiper-scrollbar
                .cards__nums.flex
                    .cards__nums-start 01
                    .cards__nums-separator /
                    .cards__nums-end 03
                .swiper-button-prev
                    +picture('img/cards/left.png', 'img/cards/left', true, '', 31, 30, '', '', '')
                .swiper-button-next
                    +picture('img/cards/right.png', 'img/cards/right', true, '', 31, 30, '', '', '')