mixin mainCard(img, title, classes="")
    div(class="cards__item"+ classes)
        .cards__item-bg
            +picture('img/cards/'+img+'.jpg', 'img/cards/'+img, true, '', 322, 308, '', '', '')
        .cards__item-block
            h2.cards__item-title
                | !{title}
            +btnTransparent('Подробнее', '#!', ' cards__item-btn text-white')