.p-btn
  display: flex
  align-items: center
  justify-content: center
  border-radius: 10px
  background: var(--red)
  font-weight: 700
  color: var(--white)
  &:hover
    background: var(--red-hover)
  &_transparent
    border: 1px solid var(--red)
    background: transparent
    color: var(--red)
    &:hover
      color: var(--white)
      border-color: var(--red-hover)
      background: var(--red-hover)