include ../mixins
footer.footer
    .contacts
        .container
            .contacts__block
                .contacts__left
                    a(href="#first").contacts__up
                        .contacts__up-svg
                            +picture('img/main/contacts/arrow.png', 'img/main/contacts/arrow', true, '', 21, 20, '', '', '')
                        .contacts__up-title Наверх
                    address.contacts__address
                        .contacts__address-title.contacts__title Адрес:
                        .contacts__address-text 304-Ibn Batuta Gate, Jebel Ali, Dubai, United Arab Emirates
                    .contacts__socials
                        .contacts__socials-title.contacts__title Соц. сети:
                        .contacts__socials-block
                            a(href="#!").contacts__socials-item
                                +picture('img/main/contacts/instagram.png', 'img/main/contacts/instagram',
                                    true, '', 17, 17, '', '', ''
                                )
                            a(href="#!").contacts__socials-item
                                +picture('img/main/contacts/in.png', 'img/main/contacts/in',
                                    true, '', 20, 20, '', '', ''
                                )
                            a(href="#!").contacts__socials-item
                                +picture('img/main/contacts/youtube.png', 'img/main/contacts/youtube',
                                    true, '', 22, 22, '', '', ''
                                )
                            a(href="#!").contacts__socials-item
                                +picture('img/main/contacts/telegram.png', 'img/main/contacts/telegram',
                                    true, '', 17, 17, '', '', ''
                                )
                            a(href="#!").contacts__socials-item
                                +picture('img/main/contacts/tiktok.png', 'img/main/contacts/tiktok',
                                    true, '', 19, 19, '', '', ''
                                )
                            a(href="#!").contacts__socials-item
                                +picture('img/main/contacts/vc.png', 'img/main/contacts/vc',
                                    true, '', 20, 18, '', '', ''
                                )
                .contacts__right
                    <iframe class="lazy contacts__iframe" src="#" data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.7390974376212!2d55.11513357595655!3d25.04292673793084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f69d18c9c2c6f%3A0x85bce79f356eebfe!2sStonetree%20Vacation%20Homes%20LLC!5e0!3m2!1sru!2sby!4v1709889888970!5m2!1sru!2sby" width="600" height="450" style="border:0;" loading="lazy"></iframe>
    .container
        .footer__block
            .footer__left
                .footer__logo
                    +picture('img/footer/logo.png', 'img/footer/logo', true, '', 266, 56, '', '', '')
                .footer__links
                    a(href="#!").footer__link Политика конфиденциальности
                    a(href="#!").footer__link Условия пользования
            .footer__right
                nav
                    ul.footer__nav-list
                        li.footer__nav-li.footer__nav-li_1
                            a(href="#!").footer__nav-link Арендовать недвижимость
                        li.footer__nav-li.footer__nav-li_2
                            a(href="#!").footer__nav-link Купить недвижимость
                        li.footer__nav-li.footer__nav-li_3
                            a(href="#!").footer__nav-link Управление недвижимостью
                        li.footer__nav-li.footer__nav-li_4
                            a(href="#!").footer__nav-link Дизайн, сервис, услуги интерьера
                        li.footer__nav-li.footer__nav-li_1
                            a(href="#!").footer__nav-link Юридические услуги в&nbsp;ОАЭ
                        li.footer__nav-li.footer__nav-li_2
                            a(href="#!").footer__nav-link Партнерская программа
                        li.footer__nav-li.footer__nav-li_3
                            a(href="#!").footer__nav-link Продакшн и&nbsp;студия
                        li.footer__nav-li.footer__nav-li_4
                            a(href="#!").footer__nav-link Карьера <br>в&nbsp;STONETREE
                .footer__links
                    a(href="#!").footer__link Политика конфиденциальности
                    a(href="#!").footer__link Условия пользования
.modal.modal_center.modal_with-thank.modal__cons1
    .modal_with-thank__content
    .modal__content
        button(type="button").modal__close
            +picture('img/modal/close.png', 'img/modal/close', true, '', 29, 29, '', '', '')
        form.p-form.modal__form.modal__form_service(data-lang="ru")
            input(type="hidden" name="type" value="Юридические услуги")
            .modal__form-title Получите бесплатную консультацию
            .modal__form-subtitle Оставьте свои контакты, чтобы получить бесплатную консультацию и расчет доходности ваших апартаментов
            .p-form__inputs
                .p-form__input
                    input(type="text" name="name" placeholder="Ваше имя")
                .p-form__input
                    input(type="tel" name="tel" placeholder="Номер телефона")
                    //.p-inter-tel
                    //    .p-inter-tel__input
                    //        .p-inter-tel__select
                    //            button(type="button").p-inter-tel__select-block
                    //                span.fi.fi-ru
                    //                span.p-inter-tel__select-svg
                    //                    <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                    //                    <path d="M5 6L9.33013 0H0.669873L5 6Z" fill="#AEAEAE"/>
                    //                    </svg>
                    //            .p-inter-tel__options
                    //                input(type="text" placeholder="Поиск названия страны")
                    //                ul
                    //        .p-inter-tel__input-item
                    //            .p-inter-tel__input-prefix <span>+7</span>&nbsp;
                    //            input(type="hidden" name="ip_status" value="true")
                    //            input(type="hidden" name="tel_slug" value="ru")
                    //            input(type="tel" name="tel" autocomplete="off" placeholder="Номер телефона")
                .p-form__input
                    label.p-form__check
                        input(type="checkbox" name="check")
                        span.p-form__check-square
                            +picture('img/modal/tick.png', 'img/modal/tick', true, '', 8, 8, '', '', '')
                        span.p-form__check-title Я даю cогласие на обработку персональных данных в&nbsp;соответствии с&nbsp;<a href="#!">Политикой конфиденциальности</a>
                .p-form__input
                    +btnSubmit('Отправить', ' p-form__btn')
.modal.modal_center.modal_with-thank.modal__cons2
    .modal_with-thank__content
    .modal__content
        button(type="button").modal__close
            +picture('img/modal/close.png', 'img/modal/close', true, '', 29, 29, '', '', '')
        form.p-form.modal__form.modal__form_partner(data-lang="ru")
            input(type="hidden" name="type" value="Партнерская программа")
            .modal__form-title Получите бесплатную консультацию
            .modal__form-subtitle Оставьте свои контакты, чтобы получить бесплатную консультацию и расчет доходности ваших апартаментов
            .p-form__inputs
                .p-form__input
                    input(type="text" name="name" placeholder="Ваше имя")
                .p-form__input
                    input(type="tel" name="tel" placeholder="Номер телефона")
                    //.p-inter-tel
                    //    .p-inter-tel__input
                    //        .p-inter-tel__select
                    //            button(type="button").p-inter-tel__select-block
                    //                span.fi.fi-ru
                    //                span.p-inter-tel__select-svg
                    //                    <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                    //                    <path d="M5 6L9.33013 0H0.669873L5 6Z" fill="#AEAEAE"/>
                    //                    </svg>
                    //            .p-inter-tel__options
                    //                input(type="text" placeholder="Поиск названия страны")
                    //                ul
                    //        .p-inter-tel__input-item
                    //            .p-inter-tel__input-prefix <span>+7</span>&nbsp;
                    //            input(type="hidden" name="ip_status" value="true")
                    //            input(type="hidden" name="tel_slug" value="ru")
                    //            input(type="tel" name="tel" autocomplete="off" placeholder="Номер телефона")
                .p-form__input
                    label.p-form__check
                        input(type="checkbox" name="check")
                        span.p-form__check-square
                            +picture('img/modal/tick.png', 'img/modal/tick', true, '', 8, 8, '', '', '')
                        span.p-form__check-title Я даю cогласие на обработку персональных данных в&nbsp;соответствии с&nbsp;<a href="#!">Политикой конфиденциальности</a>
                .p-form__input
                    +btnSubmit('Отправить', ' p-form__btn')
.modal.modal_center.modal_with-thank.modal__cons3
    .modal_with-thank__content
    .modal__content
        button(type="button").modal__close
            +picture('img/modal/close.png', 'img/modal/close', true, '', 29, 29, '', '', '')
        form.p-form.modal__form.modal__form_cons(data-lang="ru")
            input(type="hidden" name="type" value="Продакшн и студия")
            .modal__form-title Получите бесплатную консультацию
            .modal__form-subtitle Оставьте свои контакты, чтобы получить бесплатную консультацию и расчет доходности ваших апартаментов
            .p-form__inputs
                .p-form__input
                    input(type="text" name="name" placeholder="Ваше имя")
                .p-form__input
                    input(type="tel" name="tel" placeholder="Номер телефона")
                    //.p-inter-tel
                    //    .p-inter-tel__input
                    //        .p-inter-tel__select
                    //            button(type="button").p-inter-tel__select-block
                    //                span.fi.fi-ru
                    //                span.p-inter-tel__select-svg
                    //                    <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                    //                    <path d="M5 6L9.33013 0H0.669873L5 6Z" fill="#AEAEAE"/>
                    //                    </svg>
                    //            .p-inter-tel__options
                    //                input(type="text" placeholder="Поиск названия страны")
                    //                ul
                    //        .p-inter-tel__input-item
                    //            .p-inter-tel__input-prefix <span>+7</span>&nbsp;
                    //            input(type="hidden" name="ip_status" value="true")
                    //            input(type="hidden" name="tel_slug" value="ru")
                    //            input(type="tel" name="tel" autocomplete="off" placeholder="Номер телефона")
                .p-form__input
                    label.p-form__check
                        input(type="checkbox" name="check")
                        span.p-form__check-square
                            +picture('img/modal/tick.png', 'img/modal/tick', true, '', 8, 8, '', '', '')
                        span.p-form__check-title Я даю cогласие на обработку персональных данных в&nbsp;соответствии с&nbsp;<a href="#!">Политикой конфиденциальности</a>
                .p-form__input
                    +btnSubmit('Отправить', ' p-form__btn')
.modal.modal__menu
    .modal__content
        button(type="button").modal__close
            +picture('img/modal/close_menu.png', 'img/modal/close_menu', true, '', 19, 19, '', '', '')
        ul.modal__menu-list
            li.modal__menu-li
                a(href="#!").modal__menu-link Арендовать
            li.modal__menu__list-li
                a(href="#!").modal__menu-link Купить
            li.modal__menu__list-li
                a(href="#!").modal__menu-link Управление
            li.modal__menu__list-li
                a(href="#!").modal__menu-link Интерьер | Дизайн
            li.modal__menu__list-li
                a(href="#!").modal__menu-link Юридические услуги
            li.modal__menu__list-li
                a(href="#!").modal__menu-link Партнерская программа
            li.modal__menu__list-li
                a(href="#!").modal__menu-link Продакшн студия
        .contacts__socials-block
            a(href="#!").contacts__socials-item
                +picture('img/main/contacts/instagram.png', 'img/main/contacts/instagram',
                    true, '', 17, 17, '', '', ''
                )
            a(href="#!").contacts__socials-item
                +picture('img/main/contacts/in.png', 'img/main/contacts/in',
                    true, '', 20, 20, '', '', ''
                )
            a(href="#!").contacts__socials-item
                +picture('img/main/contacts/youtube.png', 'img/main/contacts/youtube',
                    true, '', 22, 22, '', '', ''
                )
            a(href="#!").contacts__socials-item
                +picture('img/main/contacts/telegram.png', 'img/main/contacts/telegram',
                    true, '', 17, 17, '', '', ''
                )
            a(href="#!").contacts__socials-item
                +picture('img/main/contacts/tiktok.png', 'img/main/contacts/tiktok',
                    true, '', 19, 19, '', '', ''
                )
            a(href="#!").contacts__socials-item
                +picture('img/main/contacts/vc.png', 'img/main/contacts/vc',
                    true, '', 20, 18, '', '', ''
                )