script(src="js/lazyload.min.js")
script.
    var lazyContent="",lazyBackground="";window.addEventListener("DOMContentLoaded",(function(){lazyContent=new LazyLoad({use_native:!0}),lazyBackground=new LazyLoad({})}));
link(rel="stylesheet", href="css/style.min.css?v=86")