.header
  padding-top: 20px
  position: relative
  width: 100%
  left: 0
  top: 0
  z-index: 60
  background: var(--black)
  padding-bottom: 20px
  &.fixed
    position: fixed
    top: -71px
    left: 0
    right: 0
    z-index: 80
    transform: translateY(70px)
    transition: transform 500ms ease, background 500ms ease
    .header
      &__block
        border-radius: 0 0 15px 15px
  &__block, &__center, &__nav, &__langs, &__list ul, &__lang, &__list-show, &__logo, &__logo
    display: flex
    align-items: center
  &__menu
    display: none
  &__block
    justify-content: space-between
    color: var(--white)
    border-radius: 15px
    width: 100%
  &__nav
    font-size: 16px
    a
      &:hover
        color: var(--red)
  &__list
    ul
      gap: 61px
    &-add
      position: relative
      &:hover
        .header
          &__list
            &-show
              color: var(--red)
              path
                fill: var(--red)
            &-abs
              display: block
    &-show
      gap: 9px
    &-abs
      padding: 12px 22px 18px
      border-radius: 0 0 15px 15px
      min-width: 233px
      margin-left: -22px
      display: none
      position: absolute
      background: var(--black)
      left: 0
      width: max-content
      overflow: hidden
      ul
        display: flex
        flex-direction: column
        gap: 10px
  &__nav
    gap: 58px
  &__langs
    padding: 2px 4px
    gap: 4px
    border-radius: 45px
    background: var(--white)
    color: var(--black)
    font-size: 16px
    position: relative
    z-index: 10
  &__lang
    width: 29px
    height: 29px
    justify-content: center
    &.active
      background: var(--black)
      color: var(--white)
      border-radius: 100%