mixin btn(text, classes='')
	a(href="#!" class="p-btn"+classes)=text
mixin btnSubmit(text, classes='')
	button(type="submit" class="p-btn"+classes)=text
mixin btnTransparent(text, id, classes='')
	a(href=id class="p-btn p-btn_transparent"+classes)=text
