mixin btn(text, classes='')
	a(href="#!" class="p-btn"+classes)&attributes(attributes)=text
mixin btnSubmit(text, classes='')
	button(type="submit" class="p-btn"+classes)&attributes(attributes)=text
mixin btnButton(text, classes='')
	button(type="button" class="p-btn"+classes)&attributes(attributes)=text
mixin btnTransparent(text, id, classes='')
	a(href=id class="p-btn p-btn_transparent"+classes)&attributes(attributes)=text
mixin btnTransparentButton(text, classes='')
	button(type="button" class="p-btn p-btn_transparent"+classes)&attributes(attributes)=text
