mixin btn(text, classes='')
	a(href="#!" class="p-btn flex flex-ai-center flex-j-center"+classes)=text
mixin btnSubmit(text, classes='')
	button(type="submit" class="p-btn flex flex-ai-center flex-j-center"+classes)=text
