extends ../layout/layout.pug
block vars
    - var title = 'Главная';
block styles
    include ../includes/styles/styles.pug
block header 
    include ../includes/header/header.pug
block content
    include ../includes/content/index
block footer
    include ../includes/footer/footer.pug
block scripts
    include ../includes/scripts/scripts.pug