@media screen and (max-width: 1200px)
  [class*="flex-ord"]
    order: inherit
  .container
    padding-left: 15px
    padding-right: 15px
  .header
    padding-top: 24px
    &__list
      display: none