script(src="js/swiper-bundle.js")
//script(src="js/inputmask.min.js")
//script(src="js/inputmask.phone.extensions.js")
script(src="js/intlTelInput.js")
script(src="https://unpkg.com/libphonenumber-js@1.10.58/bundle/libphonenumber-min.js")
script(src="js/script.min.js?v=955")