doctype html
block vars
html(lang="ru-RU")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title #{title}
        block styles
    body.relative.lh-normal.text-400.text-black.font-nunitosans.text-18.bg-white
        block header
        block content
        block footer
        block scripts